// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 3.2.1.217.3
// Netlist written on Tue Dec  6 13:17:08 2022
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/mypll/rtl/mypll.v"
// file 1 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/board.vhd"
// file 2 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/display.vhd"
// file 3 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/nes.vhd"
// file 4 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/pattern_gen.vhd"
// file 5 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/randompos.vhd"
// file 6 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/snakepos.vhd"
// file 7 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/topmodule.vhd"
// file 8 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/vga.vhd"
// file 9 "c:/lscc/radiant/3.2/ip/pmi/pmi_ice40up.v"
// file 10 "c:/lscc/radiant/3.2/ip/pmi/pmi_ice40up.vhd"
// file 11 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 12 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 13 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 14 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 15 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 16 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 17 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 18 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 19 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 20 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 21 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 22 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 23 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 24 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 25 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 26 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 27 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 28 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 29 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 30 "c:/lscc/radiant/3.2/ip/avant/fifo/rtl/lscc_fifo.v"
// file 31 "c:/lscc/radiant/3.2/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 32 "c:/lscc/radiant/3.2/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/3.2/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/3.2/ip/avant/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/3.2/ip/common/adder/rtl/lscc_adder.v"
// file 36 "c:/lscc/radiant/3.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 37 "c:/lscc/radiant/3.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 38 "c:/lscc/radiant/3.2/ip/common/counter/rtl/lscc_cntr.v"
// file 39 "c:/lscc/radiant/3.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 40 "c:/lscc/radiant/3.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 41 "c:/lscc/radiant/3.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 42 "c:/lscc/radiant/3.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 43 "c:/lscc/radiant/3.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 44 "c:/lscc/radiant/3.2/ip/pmi/pmi_add.v"
// file 45 "c:/lscc/radiant/3.2/ip/pmi/pmi_addsub.v"
// file 46 "c:/lscc/radiant/3.2/ip/pmi/pmi_complex_mult.v"
// file 47 "c:/lscc/radiant/3.2/ip/pmi/pmi_counter.v"
// file 48 "c:/lscc/radiant/3.2/ip/pmi/pmi_dsp.v"
// file 49 "c:/lscc/radiant/3.2/ip/pmi/pmi_fifo.v"
// file 50 "c:/lscc/radiant/3.2/ip/pmi/pmi_fifo_dc.v"
// file 51 "c:/lscc/radiant/3.2/ip/pmi/pmi_mac.v"
// file 52 "c:/lscc/radiant/3.2/ip/pmi/pmi_mult.v"
// file 53 "c:/lscc/radiant/3.2/ip/pmi/pmi_multaddsub.v"
// file 54 "c:/lscc/radiant/3.2/ip/pmi/pmi_multaddsubsum.v"
// file 55 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dp.v"
// file 56 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dp_be.v"
// file 57 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dq.v"
// file 58 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dq_be.v"
// file 59 "c:/lscc/radiant/3.2/ip/pmi/pmi_rom.v"
// file 60 "c:/lscc/radiant/3.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input data, output latch, output continCLK, input pll_in_clock, 
            output pll_outcore_o, output HSYNC, output VSYNC, output [2:0]delete_me, 
            output [5:0]rgb);
    
    (* is_clock=1, lineinfo="@7(13[9],13[21])" *) wire pll_in_clock_c;
    (* is_clock=1, lineinfo="@7(14[9],14[22])" *) wire pll_outcore_o_c;
    (* is_clock=1, lineinfo="@7(82[12],82[15])" *) wire CLK;
    
    wire data_c, latch_c, continCLK_c, HSYNC_c, VSYNC_c, delete_me_c_2, 
        delete_me_c_1, delete_me_c_0, rgb_c_2, GND_net, VCC_net;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@7(14[9],14[22])" *) OB pll_outcore_o_pad (.I(pll_outcore_o_c), 
            .O(pll_outcore_o));
    (* lineinfo="@7(10[9],10[18])" *) OB continCLK_pad (.I(continCLK_c), .O(continCLK));
    (* lineinfo="@7(13[9],13[21])" *) IB pll_in_clock_pad (.I(pll_in_clock), 
            .O(pll_in_clock_c));
    (* lineinfo="@7(8[9],8[13])" *) IB data_pad (.I(data), .O(data_c));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[0]  (.I(GND_net), .O(rgb[0]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[1]  (.I(GND_net), .O(rgb[1]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[2]  (.I(rgb_c_2), .O(rgb[2]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[3]  (.I(rgb_c_2), .O(rgb[3]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[4]  (.I(GND_net), .O(rgb[4]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[5]  (.I(GND_net), .O(rgb[5]));
    (* lineinfo="@7(19[3],19[12])" *) OB \delete_me_pad[0]  (.I(delete_me_c_0), 
            .O(delete_me[0]));
    (* lineinfo="@7(19[3],19[12])" *) OB \delete_me_pad[1]  (.I(delete_me_c_1), 
            .O(delete_me[1]));
    (* lineinfo="@7(19[3],19[12])" *) OB \delete_me_pad[2]  (.I(delete_me_c_2), 
            .O(delete_me[2]));
    (* lineinfo="@7(17[9],17[14])" *) OB VSYNC_pad (.I(VSYNC_c), .O(VSYNC));
    (* lineinfo="@7(16[9],16[14])" *) OB HSYNC_pad (.I(HSYNC_c), .O(HSYNC));
    (* lineinfo="@7(9[9],9[14])" *) OB latch_pad (.I(latch_c), .O(latch));
    (* lineinfo="@7(101[19],101[26])" *) display display_inst (GND_net, VSYNC_c, 
            HSYNC_c, pll_in_clock_c, pll_outcore_o_c, rgb_c_2);
    (* syn_instantiated=1 *) HSOSC_CORE HSOSC_inst (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(CLK));
    defparam HSOSC_inst.CLKHF_DIV = "0b00";
    defparam HSOSC_inst.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@7(97[15],97[18])" *) NES NES_inst (data_c, continCLK_c, 
            GND_net, delete_me_c_0, delete_me_c_1, delete_me_c_2, latch_c, 
            CLK);
    VHI i6011 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module display
//

module display (input GND_net, output VSYNC_c, output HSYNC_c, input pll_in_clock_c, 
            output pll_outcore_o_c, output rgb_c_2);
    
    (* is_clock=1, lineinfo="@2(59[12],59[15])" *) wire clk;
    (* is_clock=1, lineinfo="@7(13[9],13[21])" *) wire pll_in_clock_c;
    (* is_clock=1, lineinfo="@7(14[9],14[22])" *) wire pll_outcore_o_c;
    (* lineinfo="@2(62[12],62[19])" *) wire [9:0]row_cnt;
    
    wire valid;
    (* lineinfo="@2(66[12],66[22])" *) wire [9:0]column_cnt;
    
    wire n4, n2953, n3710, n2905, n4792, n13, n5796, n3, n8, 
        n64;
    wire [9:0]n508;
    
    wire n490, n497, n331, n67, n5998, n97, n108, n3667;
    
    (* lineinfo="@2(77[19],77[22])" *) vga vga_init (GND_net, {row_cnt}, 
            valid, clk, column_cnt[9], column_cnt[8], column_cnt[7], 
            column_cnt[6], column_cnt[5], column_cnt[4], column_cnt[3], 
            column_cnt[2], Open_0, Open_1, n4, n2953, n3710, n2905, 
            column_cnt[0], n4792, n13, n5796, n3, n8, n64, n508[2], 
            n508[5], n490, n497, n331, n67, n5998, n97, n108, 
            n3667, VSYNC_c, HSYNC_c);
    (* lineinfo="@2(74[19],74[24])" *) mypll pll_init (GND_net, pll_in_clock_c, 
            pll_outcore_o_c, clk);
    (* lineinfo="@2(82[30],82[41])" *) pattern_gen pattern_gen_initial (GND_net, 
            n3, {row_cnt}, n64, column_cnt[9], n4792, n4, n490, 
            n508[5], n13, n2953, n2905, n331, n497, column_cnt[7], 
            column_cnt[8], column_cnt[5], column_cnt[6], n508[2], n67, 
            column_cnt[3], column_cnt[4], column_cnt[0], n5796, n5998, 
            column_cnt[2], n3710, n108, n97, n8, n3667, valid, 
            rgb_c_2);
    
endmodule

//
// Verilog Description of module vga
//

module vga (input GND_net, output [9:0]row_cnt, output valid, input clk, 
            output \column_cnt[9] , output \column_cnt[8] , output \column_cnt[7] , 
            output \column_cnt[6] , output \column_cnt[5] , output \column_cnt[4] , 
            output \column_cnt[3] , output \column_cnt[2] , output \column_cnt[1] , 
            output \column_cnt[0]_2 , output n4, output n2953, output n3710, 
            output n2905, output \column_cnt[0] , output n4792, output n13, 
            output n5796, output n3, output n8, output n64, input n516, 
            input n513, input n490, input n497, input n331, output n67, 
            output n5998, output n97, output n108, output n3667, output VSYNC_c, 
            output HSYNC_c);
    
    (* is_clock=1, lineinfo="@2(59[12],59[15])" *) wire clk;
    
    wire n5053, n7114, n5055;
    wire [9:0]n35;
    
    wire valid_N_401, n2969, n3035, n7111, VCC_net, n5077, n7258, 
        n5079;
    wire [9:0]n45;
    
    wire n4_c, HSYNC_N_407, n3_c, n92, HSYNC_N_406, n29, VSYNC_N_410, 
        n4_adj_473, n5075, n7255, n5791, VSYNC_N_409, n116, n6004, 
        n9, n5073, n7252;
    (* lineinfo="@2(66[12],66[22])" *) wire [9:0]column_cnt;
    
    wire n11, n2919, n7129, n5497, n5516, n6240, n118, n5061, 
        n7126, n5059, n7123, n5081, n7264, n5057, n7120, n7261, 
        n7117, GND_net_c;
    
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_866_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[1]), .D0(n5053), .CI0(n5053), 
            .A1(GND_net), .B1(GND_net), .C1(row_cnt[2]), .D1(n7114), 
            .CI1(n7114), .CO0(n7114), .CO1(n5055), .S0(n35[1]), .S1(n35[2]));
    defparam y_pos_866_add_4_3.INIT0 = "0xc33c";
    defparam y_pos_866_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i5 (.D(n35[5]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[5]));
    defparam y_pos_866__i5.REGSET = "RESET";
    defparam y_pos_866__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i9 (.D(n35[9]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[9]));
    defparam y_pos_866__i9.REGSET = "RESET";
    defparam y_pos_866__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i8 (.D(n35[8]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[8]));
    defparam y_pos_866__i8.REGSET = "RESET";
    defparam y_pos_866__i8.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_866_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(row_cnt[0]), .D1(n7111), .CI1(n7111), .CO0(n7111), .CO1(n5053), 
            .S1(n35[0]));
    defparam y_pos_866_add_4_1.INIT0 = "0xc33c";
    defparam y_pos_866_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i7 (.D(n35[7]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[7]));
    defparam y_pos_866__i7.REGSET = "RESET";
    defparam y_pos_866__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i6 (.D(n35[6]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[6]));
    defparam y_pos_866__i6.REGSET = "RESET";
    defparam y_pos_866__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i4 (.D(n35[4]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[4]));
    defparam y_pos_866__i4.REGSET = "RESET";
    defparam y_pos_866__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i3 (.D(n35[3]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[3]));
    defparam y_pos_866__i3.REGSET = "RESET";
    defparam y_pos_866__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i0 (.D(n35[0]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[0]));
    defparam y_pos_866__i0.REGSET = "RESET";
    defparam y_pos_866__i0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i0 (.D(n45[0]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[0] ));
    defparam x_pos_867__i0.REGSET = "RESET";
    defparam x_pos_867__i0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_867_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(\column_cnt[5] ), .D0(n5077), .CI0(n5077), 
            .A1(GND_net), .B1(GND_net), .C1(\column_cnt[6] ), .D1(n7258), 
            .CI1(n7258), .CO0(n7258), .CO1(n5079), .S0(n45[5]), .S1(n45[6]));
    defparam x_pos_867_add_4_7.INIT0 = "0xc33c";
    defparam x_pos_867_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i916_4_lut (.A(\column_cnt[4] ), 
            .B(\column_cnt[9] ), .C(\column_cnt[8] ), .D(n4_c), .Z(HSYNC_N_407));
    defparam i916_4_lut.INIT = "0xc8c0";
    (* lut_function="(!(A (B)+!A (B (C))))" *) LUT4 i5465_3_lut (.A(\column_cnt[4] ), 
            .B(n3_c), .C(n92), .Z(HSYNC_N_406));
    defparam i5465_3_lut.INIT = "0x3737";
    (* lut_function="(A (B)+!A (B (C+(D))))", lineinfo="@2(62[12],62[19])" *) LUT4 i1_4_lut (.A(n29), 
            .B(row_cnt[9]), .C(row_cnt[4]), .D(row_cnt[5]), .Z(VSYNC_N_410));
    defparam i1_4_lut.INIT = "0xccc8";
    (* lut_function="(A (B+(C)))", lineinfo="@2(62[12],62[19])" *) LUT4 i1_3_lut (.A(row_cnt[3]), 
            .B(row_cnt[2]), .C(row_cnt[1]), .Z(n4_adj_473));
    defparam i1_3_lut.INIT = "0xa8a8";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_867_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(\column_cnt[3] ), .D0(n5075), .CI0(n5075), 
            .A1(GND_net), .B1(GND_net), .C1(\column_cnt[4] ), .D1(n7255), 
            .CI1(n7255), .CO0(n7255), .CO1(n5077), .S0(n45[3]), .S1(n45[4]));
    defparam x_pos_867_add_4_5.INIT0 = "0xc33c";
    defparam x_pos_867_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B (C)+!B (C (D)))))" *) LUT4 i5472_4_lut (.A(row_cnt[9]), 
            .B(row_cnt[4]), .C(n5791), .D(n4_adj_473), .Z(VSYNC_N_409));
    defparam i5472_4_lut.INIT = "0x0515";
    (* lut_function="(A (B (C)))", lineinfo="@2(66[12],66[22])" *) LUT4 i1_3_lut_adj_33 (.A(\column_cnt[4] ), 
            .B(\column_cnt[2] ), .C(\column_cnt[3] ), .Z(n4));
    defparam i1_3_lut_adj_33.INIT = "0x8080";
    (* lut_function="(A+(B+(C)))", lineinfo="@8(32[16],32[21])" *) LUT4 i1_2_lut_3_lut (.A(\column_cnt[8] ), 
            .B(\column_cnt[7] ), .C(\column_cnt[9] ), .Z(n2953));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@8(32[16],32[21])" *) LUT4 i1_2_lut_3_lut_adj_34 (.A(\column_cnt[8] ), 
            .B(\column_cnt[7] ), .C(\column_cnt[9] ), .Z(n3_c));
    defparam i1_2_lut_3_lut_adj_34.INIT = "0xe0e0";
    (* lut_function="(A+(B+(C)))", lineinfo="@8(29[17],29[22])" *) LUT4 i2_3_lut (.A(row_cnt[7]), 
            .B(row_cnt[6]), .C(row_cnt[8]), .Z(n3710));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B))" *) LUT4 i133_2_lut (.A(row_cnt[2]), .B(row_cnt[3]), 
            .Z(n116));
    defparam i133_2_lut.INIT = "0x8888";
    (* lut_function="(!(((C+!(D))+!B)+!A))", lineinfo="@8(29[17],29[22])" *) LUT4 i3_4_lut (.A(n2969), 
            .B(row_cnt[9]), .C(n6004), .D(n116), .Z(n3035));
    defparam i3_4_lut.INIT = "0x0800";
    (* lut_function="(A (B))", lineinfo="@8(32[16],32[21])" *) LUT4 i1_2_lut (.A(\column_cnt[6] ), 
            .B(\column_cnt[5] ), .Z(n2905));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i2_3_lut_adj_35 (.A(\column_cnt[8] ), 
            .B(\column_cnt[7] ), .C(\column_cnt[6] ), .Z(n9));
    defparam i2_3_lut_adj_35.INIT = "0x0202";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_867_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(column_cnt[1]), .D0(n5073), .CI0(n5073), 
            .A1(GND_net), .B1(GND_net), .C1(\column_cnt[2] ), .D1(n7252), 
            .CI1(n7252), .CO0(n7252), .CO1(n5075), .S0(n45[1]), .S1(n45[2]));
    defparam x_pos_867_add_4_3.INIT0 = "0xc33c";
    defparam x_pos_867_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (B (C)))" *) LUT4 i4_3_lut (.A(column_cnt[1]), .B(\column_cnt[9] ), 
            .C(\column_cnt[0] ), .Z(n11));
    defparam i4_3_lut.INIT = "0x8080";
    (* lut_function="(!(((C+!(D))+!B)+!A))" *) LUT4 i6_4_lut (.A(n11), .B(n9), 
            .C(\column_cnt[5] ), .D(n4), .Z(n2969));
    defparam i6_4_lut.INIT = "0x0800";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@8(32[16],32[21])" *) LUT4 i1_2_lut_3_lut_4_lut (.A(\column_cnt[8] ), 
            .B(\column_cnt[7] ), .C(\column_cnt[5] ), .D(\column_cnt[6] ), 
            .Z(n4792));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(D))+!A (B+(C (D))))", lineinfo="@8(29[17],29[22])" *) LUT4 i57_4_lut_4_lut (.A(row_cnt[0]), 
            .B(n3710), .C(row_cnt[1]), .D(n116), .Z(n29));
    defparam i57_4_lut_4_lut.INIT = "0xfecc";
    (* lut_function="(A+((C+!(D))+!B))" *) LUT4 i1_4_lut_adj_36 (.A(n2953), 
            .B(column_cnt[1]), .C(n13), .D(n2905), .Z(n5796));
    defparam i1_4_lut_adj_36.INIT = "0xfbff";
    (* lut_function="(A (B (C)))", lineinfo="@8(29[17],29[22])" *) LUT4 i2_3_lut_adj_37 (.A(row_cnt[8]), 
            .B(row_cnt[7]), .C(row_cnt[6]), .Z(n3));
    defparam i2_3_lut_adj_37.INIT = "0x8080";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut_adj_38 (.A(\column_cnt[3] ), 
            .B(\column_cnt[4] ), .C(\column_cnt[2] ), .Z(n13));
    defparam i2_3_lut_adj_38.INIT = "0xfefe";
    (* lut_function="(A+(B))", lineinfo="@8(29[17],29[22])" *) LUT4 i1_2_lut_adj_39 (.A(row_cnt[2]), 
            .B(row_cnt[3]), .Z(n8));
    defparam i1_2_lut_adj_39.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_40 (.A(row_cnt[5]), .B(n3), 
            .Z(n5791));
    defparam i1_2_lut_adj_40.INIT = "0x8888";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@8(29[17],29[22])" *) LUT4 i5123_3_lut_4_lut (.A(row_cnt[0]), 
            .B(n3710), .C(n2919), .D(row_cnt[5]), .Z(n6004));
    defparam i5123_3_lut_4_lut.INIT = "0xfffe";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_867_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(\column_cnt[0] ), .D1(n7129), .CI1(n7129), .CO0(n7129), 
            .CO1(n5073), .S1(n45[0]));
    defparam x_pos_867_add_4_1.INIT0 = "0xc33c";
    defparam x_pos_867_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))", lineinfo="@8(32[16],32[21])" *) LUT4 i1_2_lut_3_lut_adj_41 (.A(\column_cnt[6] ), 
            .B(\column_cnt[5] ), .C(\column_cnt[8] ), .Z(n92));
    defparam i1_2_lut_3_lut_adj_41.INIT = "0xfefe";
    (* lut_function="(A+(B))", lineinfo="@8(29[17],29[22])" *) LUT4 i1_2_lut_adj_42 (.A(row_cnt[4]), 
            .B(row_cnt[1]), .Z(n2919));
    defparam i1_2_lut_adj_42.INIT = "0xeeee";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i1_3_lut_adj_43 (.A(n2919), 
            .B(n5791), .C(n8), .Z(n5497));
    defparam i1_3_lut_adj_43.INIT = "0xc8c8";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut_adj_44 (.A(n13), .B(n92), 
            .C(column_cnt[1]), .Z(n5516));
    defparam i2_3_lut_adj_44.INIT = "0xfefe";
    (* lut_function="(A+(B))", lineinfo="@2(66[12],66[22])" *) LUT4 i1_2_lut_adj_45 (.A(column_cnt[1]), 
            .B(\column_cnt[0] ), .Z(n64));
    defparam i1_2_lut_adj_45.INIT = "0xeeee";
    (* lut_function="(!(A+(B (C+(D))+!B (C))))" *) LUT4 i5460_4_lut (.A(row_cnt[9]), 
            .B(n5516), .C(n5497), .D(n3_c), .Z(valid_N_401));
    defparam i5460_4_lut.INIT = "0x0105";
    (* lut_function="(A+(B))" *) LUT4 i5318_2_lut (.A(n516), .B(n513), .Z(n6240));
    defparam i5318_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+!(C))+!A (B (C+(D))+!B !(C+!(D))))" *) LUT4 i72_4_lut (.A(n490), 
            .B(n6240), .C(n497), .D(n331), .Z(n67));
    defparam i72_4_lut.INIT = "0xcfca";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i2 (.D(n35[2]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[2]));
    defparam y_pos_866__i2.REGSET = "RESET";
    defparam y_pos_866__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i1 (.D(n45[1]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(column_cnt[1]));
    defparam x_pos_867__i1.REGSET = "RESET";
    defparam x_pos_867__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B ((D)+!C)+!B !(C (D)))+!A))" *) LUT4 i5117_4_lut (.A(\column_cnt[9] ), 
            .B(\column_cnt[0] ), .C(n4), .D(column_cnt[1]), .Z(n5998));
    defparam i5117_4_lut.INIT = "0x2080";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_866__i1 (.D(n35[1]), 
            .SP(n2969), .CK(clk), .SR(n3035), .Q(row_cnt[1]));
    defparam y_pos_866__i1.REGSET = "RESET";
    defparam y_pos_866__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_46 (.A(row_cnt[9]), .B(n3), 
            .Z(n97));
    defparam i1_2_lut_adj_46.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_47 (.A(row_cnt[9]), 
            .B(n118), .C(row_cnt[4]), .D(row_cnt[5]), .Z(n108));
    defparam i1_4_lut_adj_47.INIT = "0xfffe";
    (* lut_function="(A+(B))", lineinfo="@8(29[17],29[22])" *) LUT4 i1_2_lut_adj_48 (.A(row_cnt[9]), 
            .B(row_cnt[5]), .Z(n3667));
    defparam i1_2_lut_adj_48.INIT = "0xeeee";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_866_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[9]), .D0(n5061), .CI0(n5061), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n7126), .CI1(n7126), 
            .CO0(n7126), .S0(n35[9]));
    defparam y_pos_866_add_4_11.INIT0 = "0xc33c";
    defparam y_pos_866_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_866_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[7]), .D0(n5059), .CI0(n5059), 
            .A1(GND_net), .B1(GND_net), .C1(row_cnt[8]), .D1(n7123), 
            .CI1(n7123), .CO0(n7123), .CO1(n5061), .S0(n35[7]), .S1(n35[8]));
    defparam y_pos_866_add_4_9.INIT0 = "0xc33c";
    defparam y_pos_866_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_867_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(\column_cnt[9] ), .D0(n5081), .CI0(n5081), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n7264), .CI1(n7264), 
            .CO0(n7264), .S0(n45[9]));
    defparam x_pos_867_add_4_11.INIT0 = "0xc33c";
    defparam x_pos_867_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_866_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[5]), .D0(n5057), .CI0(n5057), 
            .A1(GND_net), .B1(GND_net), .C1(row_cnt[6]), .D1(n7120), 
            .CI1(n7120), .CO0(n7120), .CO1(n5059), .S0(n35[5]), .S1(n35[6]));
    defparam y_pos_866_add_4_7.INIT0 = "0xc33c";
    defparam y_pos_866_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_867_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(\column_cnt[7] ), .D0(n5079), .CI0(n5079), 
            .A1(GND_net), .B1(GND_net), .C1(\column_cnt[8] ), .D1(n7261), 
            .CI1(n7261), .CO0(n7261), .CO1(n5081), .S0(n45[7]), .S1(n45[8]));
    defparam x_pos_867_add_4_9.INIT0 = "0xc33c";
    defparam x_pos_867_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_866_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[3]), .D0(n5055), .CI0(n5055), 
            .A1(GND_net), .B1(GND_net), .C1(row_cnt[4]), .D1(n7117), 
            .CI1(n7117), .CO0(n7117), .CO1(n5057), .S0(n35[3]), .S1(n35[4]));
    defparam y_pos_866_add_4_5.INIT0 = "0xc33c";
    defparam y_pos_866_add_4_5.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=22, LSE_LLINE=77, LSE_RLINE=77, lineinfo="@8(22[5],39[12])" *) FD1P3XZ VSYNC (.D(VSYNC_N_409), 
            .SP(VCC_net), .CK(clk), .SR(VSYNC_N_410), .Q(VSYNC_c));
    defparam VSYNC.REGSET = "SET";
    defparam VSYNC.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C))+!A (B (C (D))))", lineinfo="@2(62[12],62[19])" *) LUT4 i1_3_lut_4_lut (.A(row_cnt[1]), 
            .B(row_cnt[2]), .C(row_cnt[3]), .D(row_cnt[0]), .Z(n118));
    defparam i1_3_lut_4_lut.INIT = "0xc080";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=22, LSE_LLINE=77, LSE_RLINE=77, lineinfo="@8(22[5],39[12])" *) FD1P3XZ HSYNC (.D(HSYNC_N_406), 
            .SP(VCC_net), .CK(clk), .SR(HSYNC_N_407), .Q(HSYNC_c));
    defparam HSYNC.REGSET = "SET";
    defparam HSYNC.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i2 (.D(n45[2]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[2] ));
    defparam x_pos_867__i2.REGSET = "RESET";
    defparam x_pos_867__i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C)))" *) LUT4 i1_2_lut_3_lut_adj_49 (.A(\column_cnt[6] ), 
            .B(\column_cnt[5] ), .C(\column_cnt[7] ), .Z(n4_c));
    defparam i1_2_lut_3_lut_adj_49.INIT = "0x8080";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i3 (.D(n45[3]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[3] ));
    defparam x_pos_867__i3.REGSET = "RESET";
    defparam x_pos_867__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i4 (.D(n45[4]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[4] ));
    defparam x_pos_867__i4.REGSET = "RESET";
    defparam x_pos_867__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i5 (.D(n45[5]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[5] ));
    defparam x_pos_867__i5.REGSET = "RESET";
    defparam x_pos_867__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i6 (.D(n45[6]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[6] ));
    defparam x_pos_867__i6.REGSET = "RESET";
    defparam x_pos_867__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i7 (.D(n45[7]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[7] ));
    defparam x_pos_867__i7.REGSET = "RESET";
    defparam x_pos_867__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i8 (.D(n45[8]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[8] ));
    defparam x_pos_867__i8.REGSET = "RESET";
    defparam x_pos_867__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_867__i9 (.D(n45[9]), 
            .SP(VCC_net), .CK(clk), .SR(n2969), .Q(\column_cnt[9] ));
    defparam x_pos_867__i9.REGSET = "RESET";
    defparam x_pos_867__i9.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_c));
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=22, LSE_LLINE=77, LSE_RLINE=77, lineinfo="@8(22[5],39[12])" *) FD1P3XZ valid_c (.D(valid_N_401), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_c), .Q(valid));
    defparam valid_c.REGSET = "RESET";
    defparam valid_c.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module mypll
//

module mypll (input GND_net, input pll_in_clock_c, output pll_outcore_o_c, 
            output clk);
    
    (* is_clock=1, lineinfo="@7(13[9],13[21])" *) wire pll_in_clock_c;
    (* is_clock=1, lineinfo="@7(14[9],14[22])" *) wire pll_outcore_o_c;
    (* is_clock=1, lineinfo="@2(59[12],59[15])" *) wire clk;
    
    (* lineinfo="@0(35[41],48[26])" *) \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            pll_in_clock_c, pll_outcore_o_c, clk);
    
endmodule

//
// Verilog Description of module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input pll_in_clock_c, output pll_outcore_o_c, output clk);
    
    (* is_clock=1, lineinfo="@7(13[9],13[21])" *) wire pll_in_clock_c;
    (* is_clock=1, lineinfo="@7(14[9],14[22])" *) wire pll_outcore_o_c;
    (* is_clock=1, lineinfo="@2(59[12],59[15])" *) wire clk;
    
    wire VCC_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@0(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(pll_in_clock_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTCORE(pll_outcore_o_c), 
            .OUTGLOBAL(clk));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module pattern_gen
//

module pattern_gen (input GND_net, input n3, input [9:0]row_cnt, input n64, 
            input \column_cnt[9] , input n4792, input n4, output n490, 
            output n513, input n13, input n2953, input n2905, output n331, 
            output n497, input \column_cnt[7] , input \column_cnt[8] , 
            input \column_cnt[5] , input \column_cnt[6] , output n516, 
            input n67, input \column_cnt[3] , input \column_cnt[4] , input \column_cnt[0] , 
            input n5796, input n5998, input \column_cnt[2] , input n3710, 
            input n108, input n97, input n8, input n3667, input valid, 
            output rgb_c_2);
    
    
    wire n4400, n452, n450, n451, n461, n5018, n7228, VCC_net;
    wire [9:0]n1525;
    
    wire n487, n488, n411;
    wire [9:0]n1669;
    
    wire n5556, n450_adj_429, n413, n452_adj_430, n5033, n7180, 
        n488_adj_431, n487_adj_432, n5035;
    wire [9:0]n508;
    
    wire n370, n6024, n380, n412, n5009, n7234, n5011;
    wire [9:0]n508_adj_472;
    
    wire n5050, n7168, n373, n2851, n5528, n6006, n14, n329, 
        n455, n5530;
    wire [7:0]n47;
    
    wire n371, n6018, n5016, n7225, n453, n380_adj_435, n413_adj_436, 
        n18, n225, n453_adj_437, n330, n454, n4436, n451_adj_438, 
        n461_adj_439, n370_adj_440, n411_adj_441;
    wire [9:0]n1645;
    
    wire n5048, n7153, n5767, n5007, n7231, n490_c, n489, n4452, 
        n5031, n7177, n489_adj_443, n369, n2902, n5070, n7144, 
        n276, n277, n327, n278, n371_adj_446, n5029, n7174, n492, 
        n491, n226, n492_adj_447, n4307, n491_adj_448, n6, n486, 
        n497_c, n486_adj_449, n4404, n6_adj_450, n412_adj_451, n14_adj_453, 
        n5568, n5068, n7141, n7, n4_adj_455, n9, n10, n5066, 
        n7138, n5005, n7222;
    wire [9:0]n1537;
    
    wire n3_adj_457, n12, n10_adj_458, n11, n9_adj_459, n5, n5090, 
        n7198, n5014, n7210, n455_adj_460, n454_adj_461, n8_c, n7171, 
        n10_adj_464, n9_adj_465, n11_adj_466, n5534, n5776, n4275, 
        n5064, n7135, n5026, n7216, n6_adj_467, n5046, n7150, 
        n7147, n5_adj_468, n7132, n5088, n7195, n5024, n7213, 
        n6243, n5042, n7165, n18_adj_469, n6242, n21, n4_adj_470, 
        n2903, n2869, n5040, n7162, n5038, n7159, n5086, n7192, 
        n5994, n7156, n5084, n7189, n7186, n2841, n5022, n7204, 
        n7183, n7207, n7201, n7219, n7237;
    
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut (.A(n4400), .B(n452), 
            .C(n450), .D(n451), .Z(n461));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1180_7 (.A0(GND_net), .B0(n451), 
            .C0(VCC_net), .D0(n5018), .CI0(n5018), .A1(GND_net), .B1(n450), 
            .C1(VCC_net), .D1(n7228), .CI1(n7228), .CO0(n7228), .S0(n1525[8]), 
            .S1(n1525[9]));
    defparam add_1180_7.INIT0 = "0xc33c";
    defparam add_1180_7.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i334_3_lut (.A(n451), 
            .B(n1525[8]), .C(n461), .Z(n487));
    defparam mod_7_i334_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i335_3_lut (.A(n452), 
            .B(n1525[7]), .C(n461), .Z(n488));
    defparam mod_7_i335_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i308_3_lut (.A(n411), 
            .B(n1669[9]), .C(n5556), .Z(n450_adj_429));
    defparam mod_4_i308_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i310_3_lut (.A(n413), 
            .B(n1669[7]), .C(n5556), .Z(n452_adj_430));
    defparam mod_4_i310_3_lut.INIT = "0xacac";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_7 (.A0(GND_net), 
            .B0(n488_adj_431), .C0(VCC_net), .D0(n5033), .CI0(n5033), 
            .A1(GND_net), .B1(n487_adj_432), .C1(VCC_net), .D1(n7180), 
            .CI1(n7180), .CO0(n7180), .CO1(n5035), .S0(n508[7]), .S1(n508[8]));
    defparam mod_4_add_354_7.INIT0 = "0xc33c";
    defparam mod_4_add_354_7.INIT1 = "0xc33c";
    (* lut_function="(!(A (B (C))+!A !(B (C))))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i282_3_lut (.A(n370), 
            .B(n6024), .C(n380), .Z(n412));
    defparam mod_4_i282_3_lut.INIT = "0x6a6a";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_7 (.A0(GND_net), 
            .B0(n488), .C0(VCC_net), .D0(n5009), .CI0(n5009), .A1(GND_net), 
            .B1(n487), .C1(VCC_net), .D1(n7234), .CI1(n7234), .CO0(n7234), 
            .CO1(n5011), .S0(n508_adj_472[7]), .S1(n508_adj_472[8]));
    defparam mod_7_add_354_7.INIT0 = "0xc33c";
    defparam mod_7_add_354_7.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1192_7 (.A0(GND_net), .B0(n411), 
            .C0(VCC_net), .D0(n5050), .CI0(n5050), .A1(GND_net), .B1(GND_net), 
            .C1(GND_net), .D1(n7168), .CI1(n7168), .CO0(n7168), .S0(n1669[9]));
    defparam add_1192_7.INIT0 = "0xc33c";
    defparam add_1192_7.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(n373), .B(n380), 
            .Z(n2851));
    defparam i1_2_lut.INIT = "0x6666";
    (* lut_function="(!(A (B (C))+!A !(B (C))))" *) LUT4 i5322_3_lut (.A(n5528), 
            .B(n373), .C(n380), .Z(n6006));
    defparam i5322_3_lut.INIT = "0x6a6a";
    (* lut_function="(!(A+(B (C)+!B (C+(D)))))" *) LUT4 i2_4_lut (.A(n411), 
            .B(n14), .C(n412), .D(n413), .Z(n5556));
    defparam i2_4_lut.INIT = "0x0405";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i313_3_lut (.A(n329), 
            .B(n1669[4]), .C(n5556), .Z(n455));
    defparam mod_4_i313_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C))+!A (C))", lineinfo="@4(47[56],47[71])" *) LUT4 i5136_2_lut_3_lut (.A(n5530), 
            .B(n47[3]), .C(n371), .Z(n6018));
    defparam i5136_2_lut_3_lut.INIT = "0xf8f8";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1180_5 (.A0(GND_net), .B0(n453), 
            .C0(GND_net), .D0(n5016), .CI0(n5016), .A1(GND_net), .B1(n452), 
            .C1(VCC_net), .D1(n7225), .CI1(n7225), .CO0(n7225), .CO1(n5018), 
            .S0(n1525[6]), .S1(n1525[7]));
    defparam add_1180_5.INIT0 = "0xc33c";
    defparam add_1180_5.INIT1 = "0xc33c";
    (* lut_function="(A (B (D)+!B !(C (D)+!C !(D)))+!A !(C (D)+!C !(D)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i283_3_lut_4_lut (.A(n5530), 
            .B(n47[3]), .C(n380_adj_435), .D(n371), .Z(n413_adj_436));
    defparam mod_7_i283_3_lut_4_lut.INIT = "0x8f70";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(C)))" *) LUT4 i1_2_lut_3_lut (.A(n18), 
            .B(n225), .C(n47[4]), .Z(n5530));
    defparam i1_2_lut_3_lut.INIT = "0x7878";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i311_3_lut (.A(n6006), 
            .B(n1669[6]), .C(n5556), .Z(n453_adj_437));
    defparam mod_4_i311_3_lut.INIT = "0xacac";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(D))+!A !(D)))" *) LUT4 i5323_3_lut_4_lut (.A(n18), 
            .B(n225), .C(n47[4]), .D(n47[5]), .Z(n371));
    defparam i5323_3_lut_4_lut.INIT = "0x7f80";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i3862_4_lut (.A(n330), 
            .B(n453_adj_437), .C(n454), .D(n455), .Z(n4436));
    defparam i3862_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut_adj_13 (.A(n4436), 
            .B(n452_adj_430), .C(n451_adj_438), .D(n450_adj_429), .Z(n461_adj_439));
    defparam i3_4_lut_adj_13.INIT = "0xfffe";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i309_3_lut (.A(n412), 
            .B(n1669[8]), .C(n5556), .Z(n451_adj_438));
    defparam mod_4_i309_3_lut.INIT = "0xacac";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i5155_2_lut_3_lut_4_lut (.A(n6018), 
            .B(n370_adj_440), .C(n225), .D(n18), .Z(n411_adj_441));
    defparam i5155_2_lut_3_lut_4_lut.INIT = "0x0080";
    (* lut_function="(A (B+!((D)+!C))+!A !((D)+!C))" *) LUT4 i5150_2_lut_3_lut_4_lut (.A(n6018), 
            .B(n370_adj_440), .C(n225), .D(n18), .Z(n380_adj_435));
    defparam i5150_2_lut_3_lut_4_lut.INIT = "0x88f8";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i334_3_lut (.A(n451_adj_438), 
            .B(n1645[8]), .C(n461_adj_439), .Z(n487_adj_432));
    defparam mod_4_i334_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i335_3_lut (.A(n452_adj_430), 
            .B(n1645[7]), .C(n461_adj_439), .Z(n488_adj_431));
    defparam mod_4_i335_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1192_5 (.A0(GND_net), .B0(n413), 
            .C0(GND_net), .D0(n5048), .CI0(n5048), .A1(GND_net), .B1(n412), 
            .C1(VCC_net), .D1(n7153), .CI1(n7153), .CO0(n7153), .CO1(n5050), 
            .S0(n1669[7]), .S1(n1669[8]));
    defparam add_1192_5.INIT0 = "0xc33c";
    defparam add_1192_5.INIT1 = "0xc33c";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i2_3_lut (.A(n3), .B(row_cnt[2]), 
            .C(row_cnt[4]), .Z(n5767));
    defparam i2_3_lut.INIT = "0x0808";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_5 (.A0(GND_net), 
            .B0(n490_c), .C0(GND_net), .D0(n5007), .CI0(n5007), .A1(GND_net), 
            .B1(n489), .C1(VCC_net), .D1(n7231), .CI1(n7231), .CO0(n7231), 
            .CO1(n5009), .S0(n508_adj_472[5]), .S1(n508_adj_472[6]));
    defparam mod_7_add_354_5.INIT0 = "0xc33c";
    defparam mod_7_add_354_5.INIT1 = "0xc33c";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i3878_4_lut (.A(n64), 
            .B(\column_cnt[9] ), .C(n4792), .D(n4), .Z(n4452));
    defparam i3878_4_lut.INIT = "0xc8c0";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_5 (.A0(GND_net), 
            .B0(n490), .C0(GND_net), .D0(n5031), .CI0(n5031), .A1(GND_net), 
            .B1(n489_adj_443), .C1(VCC_net), .D1(n7177), .CI1(n7177), 
            .CO0(n7177), .CO1(n5033), .S0(n513), .S1(n508[6]));
    defparam mod_4_add_354_5.INIT0 = "0xc33c";
    defparam mod_4_add_354_5.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))+!B !(C+!(D)))+!A !(C+!(D)))" *) LUT4 i5153_3_lut_4_lut (.A(n6024), 
            .B(n370), .C(n369), .D(n380), .Z(n411));
    defparam i5153_3_lut_4_lut.INIT = "0x8700";
    (* lut_function="(!(A+!(B (C+(D))+!B (C))))", lineinfo="@4(47[307],47[425])" *) LUT4 i1_4_lut (.A(n4452), 
            .B(n13), .C(n2953), .D(n2905), .Z(n2902));
    defparam i1_4_lut.INIT = "0x5450";
    (* lut_function="(A (B+(C))+!A (C))" *) LUT4 i5146_2_lut_3_lut (.A(n6024), 
            .B(n370), .C(n369), .Z(n380));
    defparam i5146_2_lut_3_lut.INIT = "0xf8f8";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_9 (.A0(GND_net), 
            .B0(\column_cnt[9] ), .C0(VCC_net), .D0(n5070), .CI0(n5070), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n7144), .CI1(n7144), 
            .CO0(n7144), .S0(n276));
    defparam sub_969_add_2_add_5_9.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_9.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B (C+!(D))+!B !(D))))" *) LUT4 i1_2_lut_4_lut (.A(n277), 
            .B(n327), .C(n278), .D(n276), .Z(n369));
    defparam i1_2_lut_4_lut.INIT = "0x1500";
    (* lut_function="(!(A (B (D)+!B !(D))+!A ((C (D))+!B)))" *) LUT4 i1_2_lut_3_lut_4_lut (.A(n277), 
            .B(n327), .C(n278), .D(n276), .Z(n5528));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0x26cc";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C))+!A (B ((D)+!C)+!B !(C))))" *) LUT4 i5321_3_lut_4_lut_4_lut (.A(n277), 
            .B(n327), .C(n278), .D(n276), .Z(n371_adj_446));
    defparam i5321_3_lut_4_lut_4_lut.INIT = "0x38f0";
    (* lut_function="(A (B (D)+!B !(C (D)+!C !(D)))+!A !(C (D)+!C !(D)))" *) LUT4 mod_4_i283_3_lut_4_lut (.A(n373), 
            .B(n5528), .C(n380), .D(n371_adj_446), .Z(n413));
    defparam mod_4_i283_3_lut_4_lut.INIT = "0x8f70";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_3 (.A0(GND_net), 
            .B0(n492), .C0(GND_net), .D0(n5029), .CI0(n5029), .A1(GND_net), 
            .B1(n491), .C1(VCC_net), .D1(n7174), .CI1(n7174), .CO0(n7174), 
            .CO1(n5031), .S0(n508[3]), .S1(n508[4]));
    defparam mod_4_add_354_3.INIT0 = "0xc33c";
    defparam mod_4_add_354_3.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C))+!A (C))" *) LUT4 i5142_2_lut_3_lut (.A(n373), 
            .B(n5528), .C(n371_adj_446), .Z(n6024));
    defparam i5142_2_lut_3_lut.INIT = "0xf8f8";
    (* lut_function="(A+(B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 i1824_3_lut (.A(n226), 
            .B(n47[5]), .C(n47[4]), .Z(n18));
    defparam i1824_3_lut.INIT = "0xeaea";
    (* lut_function="(A (B))" *) LUT4 i3734_2_lut (.A(n47[0]), .B(n492_adj_447), 
            .Z(n4307));
    defparam i3734_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut_adj_14 (.A(n4307), 
            .B(n489), .C(n490_c), .D(n491_adj_448), .Z(n6));
    defparam i1_4_lut_adj_14.INIT = "0xfcec";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut (.A(n488), .B(n486), 
            .C(n487), .D(n6), .Z(n497_c));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i333_3_lut (.A(n450), 
            .B(n1525[9]), .C(n461), .Z(n486));
    defparam mod_7_i333_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i333_3_lut (.A(n450_adj_429), 
            .B(n1645[9]), .C(n461_adj_439), .Z(n486_adj_449));
    defparam mod_4_i333_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B))" *) LUT4 i3830_2_lut (.A(n331), .B(n492), .Z(n4404));
    defparam i3830_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C+(D)))+!A (B))" *) LUT4 i1_4_lut_adj_15 (.A(n490), 
            .B(n489_adj_443), .C(n4404), .D(n491), .Z(n6_adj_450));
    defparam i1_4_lut_adj_15.INIT = "0xeeec";
    (* lut_function="(!(A (B (C))+!A !(B (C))))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i282_3_lut (.A(n370_adj_440), 
            .B(n6018), .C(n380_adj_435), .Z(n412_adj_451));
    defparam mod_7_i282_3_lut.INIT = "0x6a6a";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut_adj_16 (.A(n487_adj_432), 
            .B(n488_adj_431), .C(n486_adj_449), .D(n6_adj_450), .Z(n497));
    defparam i4_4_lut_adj_16.INIT = "0xfffe";
    (* lut_function="(!(A+(B (C)+!B (C+(D)))))" *) LUT4 i2_4_lut_adj_17 (.A(n411_adj_441), 
            .B(n14_adj_453), .C(n412_adj_451), .D(n413_adj_436), .Z(n5568));
    defparam i2_4_lut_adj_17.INIT = "0x0405";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_7 (.A0(GND_net), 
            .B0(\column_cnt[7] ), .C0(VCC_net), .D0(n5068), .CI0(n5068), 
            .A1(GND_net), .B1(\column_cnt[8] ), .C1(VCC_net), .D1(n7141), 
            .CI1(n7141), .CO0(n7141), .CO1(n5070), .S0(n278), .S1(n277));
    defparam sub_969_add_2_add_5_7.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_7.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i359_3_lut (.A(n489_adj_443), 
            .B(n508[6]), .C(n497), .Z(n7));
    defparam mod_4_i359_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i362_3_lut (.A(n492_adj_447), 
            .B(n508_adj_472[3]), .C(n497_c), .Z(n4_adj_455));
    defparam mod_7_i362_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i357_3_lut (.A(n487), 
            .B(n508_adj_472[8]), .C(n497_c), .Z(n9));
    defparam mod_7_i357_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i356_3_lut (.A(n486), 
            .B(n508_adj_472[9]), .C(n497_c), .Z(n10));
    defparam mod_7_i356_3_lut.INIT = "0xcaca";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_5 (.A0(GND_net), 
            .B0(\column_cnt[5] ), .C0(GND_net), .D0(n5066), .CI0(n5066), 
            .A1(GND_net), .B1(\column_cnt[6] ), .C1(GND_net), .D1(n7138), 
            .CI1(n7138), .CO0(n7138), .CO1(n5068), .S0(n373), .S1(n327));
    defparam sub_969_add_2_add_5_5.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_3 (.A0(GND_net), 
            .B0(n492_adj_447), .C0(GND_net), .D0(n5005), .CI0(n5005), 
            .A1(GND_net), .B1(n491_adj_448), .C1(VCC_net), .D1(n7222), 
            .CI1(n7222), .CO0(n7222), .CO1(n5007), .S0(n508_adj_472[3]), 
            .S1(n508_adj_472[4]));
    defparam mod_7_add_354_3.INIT0 = "0xc33c";
    defparam mod_7_add_354_3.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i308_3_lut (.A(n411_adj_441), 
            .B(n1537[9]), .C(n5568), .Z(n450));
    defparam mod_7_i308_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i363_3_lut (.A(n47[0]), 
            .B(n508_adj_472[2]), .C(n497_c), .Z(n3_adj_457));
    defparam mod_7_i363_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i309_3_lut (.A(n412_adj_451), 
            .B(n1537[8]), .C(n5568), .Z(n451));
    defparam mod_7_i309_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i4_4_lut_adj_18 (.A(n489), 
            .B(n10), .C(n508_adj_472[6]), .D(n497_c), .Z(n12));
    defparam i4_4_lut_adj_18.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i2_4_lut_adj_19 (.A(n488), 
            .B(n3_adj_457), .C(n508_adj_472[7]), .D(n497_c), .Z(n10_adj_458));
    defparam i2_4_lut_adj_19.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i3_4_lut_adj_20 (.A(n491_adj_448), 
            .B(n9), .C(n508_adj_472[4]), .D(n497_c), .Z(n11));
    defparam i3_4_lut_adj_20.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i1_4_lut_adj_21 (.A(n490_c), 
            .B(n4_adj_455), .C(n508_adj_472[5]), .D(n497_c), .Z(n9_adj_459));
    defparam i1_4_lut_adj_21.INIT = "0xfcee";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i361_3_lut (.A(n491), 
            .B(n508[4]), .C(n497), .Z(n5));
    defparam mod_4_i361_3_lut.INIT = "0xcaca";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_9 (.A0(GND_net), 
            .B0(row_cnt[9]), .C0(VCC_net), .D0(n5090), .CI0(n5090), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n7198), .CI1(n7198), 
            .CO0(n7198), .S0(n225));
    defparam sub_971_add_2_add_5_9.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_9.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1180_3 (.A0(GND_net), .B0(n455_adj_460), 
            .C0(GND_net), .D0(n5014), .CI0(n5014), .A1(GND_net), .B1(n454_adj_461), 
            .C1(VCC_net), .D1(n7210), .CI1(n7210), .CO0(n7210), .CO1(n5016), 
            .S0(n1525[4]), .S1(n1525[5]));
    defparam add_1180_3.INIT0 = "0xc33c";
    defparam add_1180_3.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i1_4_lut_adj_22 (.A(n488_adj_431), 
            .B(n5), .C(n508[7]), .D(n497), .Z(n8_c));
    defparam i1_4_lut_adj_22.INIT = "0xfcee";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(n331), .C1(VCC_net), 
            .D1(n7171), .CI1(n7171), .CO0(n7171), .CO1(n5029), .S1(n516));
    defparam mod_4_add_354_1.INIT0 = "0xc33c";
    defparam mod_4_add_354_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B (C+!(D))+!B (C (D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i3_4_lut_adj_23 (.A(n67), 
            .B(n486_adj_449), .C(n508[9]), .D(n497), .Z(n10_adj_464));
    defparam i3_4_lut_adj_23.INIT = "0xfaee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i2_4_lut_adj_24 (.A(n492), 
            .B(n7), .C(n508[3]), .D(n497), .Z(n9_adj_465));
    defparam i2_4_lut_adj_24.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i4_4_lut_adj_25 (.A(n487_adj_432), 
            .B(n8_c), .C(n508[8]), .D(n497), .Z(n11_adj_466));
    defparam i4_4_lut_adj_25.INIT = "0xfcee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i7_4_lut (.A(n9_adj_459), 
            .B(n11), .C(n10_adj_458), .D(n12), .Z(n5534));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i1_4_lut_adj_26 (.A(n64), 
            .B(n11_adj_466), .C(n9_adj_465), .D(n10_adj_464), .Z(n5776));
    defparam i1_4_lut_adj_26.INIT = "0xfffe";
    (* lut_function="(A (B+(C+(D))))" *) LUT4 i3702_4_lut (.A(n5776), .B(n5534), 
            .C(row_cnt[1]), .D(row_cnt[0]), .Z(n4275));
    defparam i3702_4_lut.INIT = "0xaaa8";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_3 (.A0(GND_net), 
            .B0(\column_cnt[3] ), .C0(VCC_net), .D0(n5064), .CI0(n5064), 
            .A1(GND_net), .B1(\column_cnt[4] ), .C1(VCC_net), .D1(n7135), 
            .CI1(n7135), .CO0(n7135), .CO1(n5066), .S0(n330), .S1(n329));
    defparam sub_969_add_2_add_5_3.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1181_7 (.A0(GND_net), .B0(n411_adj_441), 
            .C0(VCC_net), .D0(n5026), .CI0(n5026), .A1(GND_net), .B1(GND_net), 
            .C1(GND_net), .D1(n7216), .CI1(n7216), .CO0(n7216), .S0(n1537[9]));
    defparam add_1181_7.INIT0 = "0xc33c";
    defparam add_1181_7.INIT1 = "0xc33c";
    (* lut_function="(!(A (B+(D))+!A !(B (C)+!B (C+!(D)))))", lineinfo="@4(47[7],47[426])" *) LUT4 i2_4_lut_adj_27 (.A(n4275), 
            .B(\column_cnt[0] ), .C(n2902), .D(n5796), .Z(n6_adj_467));
    defparam i2_4_lut_adj_27.INIT = "0x5073";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1192_3 (.A0(GND_net), .B0(n2851), 
            .C0(GND_net), .D0(n5046), .CI0(n5046), .A1(GND_net), .B1(n6006), 
            .C1(VCC_net), .D1(n7150), .CI1(n7150), .CO0(n7150), .CO1(n5048), 
            .S0(n1669[5]), .S1(n1669[6]));
    defparam add_1192_3.INIT0 = "0xc33c";
    defparam add_1192_3.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1192_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(n329), .C1(VCC_net), .D1(n7147), 
            .CI1(n7147), .CO0(n7147), .CO1(n5046), .S1(n1669[4]));
    defparam add_1192_1.INIT0 = "0xc33c";
    defparam add_1192_1.INIT1 = "0xc33c";
    (* lut_function="(!(A ((D)+!B)+!A !(B (C+!(D))+!B (C))))", lineinfo="@4(47[7],47[426])" *) LUT4 i1_4_lut_adj_28 (.A(n4792), 
            .B(\column_cnt[0] ), .C(n5998), .D(n5796), .Z(n5_adj_468));
    defparam i1_4_lut_adj_28.INIT = "0x50dc";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(\column_cnt[2] ), 
            .C1(VCC_net), .D1(n7132), .CI1(n7132), .CO0(n7132), .CO1(n5064), 
            .S1(n331));
    defparam sub_969_add_2_add_5_1.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_7 (.A0(GND_net), 
            .B0(row_cnt[7]), .C0(VCC_net), .D0(n5088), .CI0(n5088), 
            .A1(GND_net), .B1(row_cnt[8]), .C1(VCC_net), .D1(n7195), 
            .CI1(n7195), .CO0(n7195), .CO1(n5090), .S0(n47[5]), .S1(n226));
    defparam sub_971_add_2_add_5_7.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1181_5 (.A0(GND_net), .B0(n413_adj_436), 
            .C0(GND_net), .D0(n5024), .CI0(n5024), .A1(GND_net), .B1(n412_adj_451), 
            .C1(VCC_net), .D1(n7213), .CI1(n7213), .CO0(n7213), .CO1(n5026), 
            .S0(n1537[7]), .S1(n1537[8]));
    defparam add_1181_5.INIT0 = "0xc33c";
    defparam add_1181_5.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B+!(C))))" *) LUT4 i5320_3_lut (.A(row_cnt[2]), 
            .B(n3710), .C(row_cnt[4]), .Z(n6243));
    defparam i5320_3_lut.INIT = "0x1010";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1190_7 (.A0(GND_net), .B0(n451_adj_438), 
            .C0(VCC_net), .D0(n5042), .CI0(n5042), .A1(GND_net), .B1(n450_adj_429), 
            .C1(VCC_net), .D1(n7165), .CI1(n7165), .CO0(n7165), .S0(n1645[8]), 
            .S1(n1645[9]));
    defparam add_1190_7.INIT0 = "0xc33c";
    defparam add_1190_7.INIT1 = "0xc33c";
    (* lut_function="(!(A (B (C)+!B !((D)+!C))+!A (B+!(C (D)))))" *) LUT4 i35_4_lut (.A(n6243), 
            .B(row_cnt[0]), .C(row_cnt[3]), .D(n5767), .Z(n18_adj_469));
    defparam i35_4_lut.INIT = "0x3a0a";
    (* lut_function="(A (B))" *) LUT4 i5307_2_lut (.A(row_cnt[0]), .B(row_cnt[3]), 
            .Z(n6242));
    defparam i5307_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C+(D))+!B !(C+!(D)))+!A (B (C)))" *) LUT4 i34_4_lut (.A(n6242), 
            .B(n18_adj_469), .C(row_cnt[1]), .D(n5767), .Z(n21));
    defparam i34_4_lut.INIT = "0xcac0";
    (* lut_function="(!(A (B (D))+!A (B ((D)+!C)+!B !(C))))", lineinfo="@4(47[7],47[426])" *) LUT4 i1_4_lut_adj_29 (.A(n5_adj_468), 
            .B(n108), .C(n6_adj_467), .D(n97), .Z(n4_adj_470));
    defparam i1_4_lut_adj_29.INIT = "0x32fa";
    (* lut_function="(!(A+((C+!(D))+!B)))", lineinfo="@4(47[307],47[425])" *) LUT4 i1_4_lut_adj_30 (.A(row_cnt[5]), 
            .B(n2902), .C(row_cnt[9]), .D(n21), .Z(n2903));
    defparam i1_4_lut_adj_30.INIT = "0x0400";
    (* lut_function="(A (B+(C+(D)))+!A (B+(D)))" *) LUT4 i1_4_lut_adj_31 (.A(row_cnt[4]), 
            .B(n3710), .C(n8), .D(n3667), .Z(n2869));
    defparam i1_4_lut_adj_31.INIT = "0xffec";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1190_5 (.A0(GND_net), .B0(n453_adj_437), 
            .C0(GND_net), .D0(n5040), .CI0(n5040), .A1(GND_net), .B1(n452_adj_430), 
            .C1(VCC_net), .D1(n7162), .CI1(n7162), .CO0(n7162), .CO1(n5042), 
            .S0(n1645[6]), .S1(n1645[7]));
    defparam add_1190_5.INIT0 = "0xc33c";
    defparam add_1190_5.INIT1 = "0xc33c";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))", lineinfo="@4(43[3],80[10])" *) LUT4 i3750_4_lut (.A(n2869), 
            .B(valid), .C(n2903), .D(n4_adj_470), .Z(rgb_c_2));
    defparam i3750_4_lut.INIT = "0xc8c0";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i338_3_lut (.A(n455_adj_460), 
            .B(n1525[4]), .C(n461), .Z(n491_adj_448));
    defparam mod_7_i338_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i339_3_lut (.A(n47[1]), 
            .B(n1525[3]), .C(n461), .Z(n492_adj_447));
    defparam mod_7_i339_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i338_3_lut (.A(n455), 
            .B(n1645[4]), .C(n461_adj_439), .Z(n491));
    defparam mod_4_i338_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i339_3_lut (.A(n330), 
            .B(n1645[3]), .C(n461_adj_439), .Z(n492));
    defparam mod_4_i339_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i336_3_lut (.A(n453_adj_437), 
            .B(n1645[6]), .C(n461_adj_439), .Z(n489_adj_443));
    defparam mod_4_i336_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i337_3_lut (.A(n454), 
            .B(n1645[5]), .C(n461_adj_439), .Z(n490));
    defparam mod_4_i337_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i336_3_lut (.A(n453), 
            .B(n1525[6]), .C(n461), .Z(n489));
    defparam mod_7_i336_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i337_3_lut (.A(n454_adj_461), 
            .B(n1525[5]), .C(n461), .Z(n490_c));
    defparam mod_7_i337_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1190_3 (.A0(GND_net), .B0(n455), 
            .C0(GND_net), .D0(n5038), .CI0(n5038), .A1(GND_net), .B1(n454), 
            .C1(VCC_net), .D1(n7159), .CI1(n7159), .CO0(n7159), .CO1(n5040), 
            .S0(n1645[4]), .S1(n1645[5]));
    defparam add_1190_3.INIT0 = "0xc33c";
    defparam add_1190_3.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_5 (.A0(GND_net), 
            .B0(row_cnt[5]), .C0(VCC_net), .D0(n5086), .CI0(n5086), 
            .A1(GND_net), .B1(row_cnt[6]), .C1(VCC_net), .D1(n7192), 
            .CI1(n7192), .CO0(n7192), .CO1(n5088), .S0(n47[3]), .S1(n47[4]));
    defparam sub_971_add_2_add_5_5.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_5.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i310_3_lut (.A(n413_adj_436), 
            .B(n1537[7]), .C(n5568), .Z(n452));
    defparam mod_7_i310_3_lut.INIT = "0xacac";
    (* lut_function="(!(A (B (C))+!A !(B (C))))" *) LUT4 i5324_3_lut (.A(n5530), 
            .B(n47[3]), .C(n380_adj_435), .Z(n5994));
    defparam i5324_3_lut.INIT = "0x6a6a";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1190_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(n330), .C1(VCC_net), .D1(n7156), 
            .CI1(n7156), .CO0(n7156), .CO1(n5038), .S1(n1645[3]));
    defparam add_1190_1.INIT0 = "0xc33c";
    defparam add_1190_1.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_3 (.A0(GND_net), 
            .B0(row_cnt[3]), .C0(VCC_net), .D0(n5084), .CI0(n5084), 
            .A1(GND_net), .B1(row_cnt[4]), .C1(GND_net), .D1(n7189), 
            .CI1(n7189), .CO0(n7189), .CO1(n5086), .S0(n47[1]), .S1(n47[2]));
    defparam sub_971_add_2_add_5_3.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(row_cnt[2]), 
            .C1(VCC_net), .D1(n7186), .CI1(n7186), .CO0(n7186), .CO1(n5084), 
            .S1(n47[0]));
    defparam sub_971_add_2_add_5_1.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_1.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut_adj_32 (.A(n47[3]), 
            .B(n380_adj_435), .Z(n2841));
    defparam i1_2_lut_adj_32.INIT = "0x6666";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i313_3_lut (.A(n47[2]), 
            .B(n1537[4]), .C(n5568), .Z(n455_adj_460));
    defparam mod_7_i313_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i311_3_lut (.A(n5994), 
            .B(n1537[6]), .C(n5568), .Z(n453));
    defparam mod_7_i311_3_lut.INIT = "0xacac";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i3826_4_lut (.A(n47[1]), 
            .B(n453), .C(n454_adj_461), .D(n455_adj_460), .Z(n4400));
    defparam i3826_4_lut.INIT = "0xc8c0";
    (* lut_function="(A (B (C+!(D))+!B !(D)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i253_4_lut (.A(n277), 
            .B(n327), .C(n278), .D(n276), .Z(n370));
    defparam mod_4_i253_4_lut.INIT = "0x80aa";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1181_3 (.A0(GND_net), .B0(n2841), 
            .C0(GND_net), .D0(n5022), .CI0(n5022), .A1(GND_net), .B1(n5994), 
            .C1(VCC_net), .D1(n7204), .CI1(n7204), .CO0(n7204), .CO1(n5024), 
            .S0(n1537[5]), .S1(n1537[6]));
    defparam add_1181_3.INIT0 = "0xc33c";
    defparam add_1181_3.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_9 (.A0(GND_net), 
            .B0(n486_adj_449), .C0(VCC_net), .D0(n5035), .CI0(n5035), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n7183), .CI1(n7183), 
            .CO0(n7183), .S0(n508[9]));
    defparam mod_4_add_354_9.INIT0 = "0xc33c";
    defparam mod_4_add_354_9.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1180_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(n47[1]), .C1(VCC_net), .D1(n7207), 
            .CI1(n7207), .CO0(n7207), .CO1(n5014), .S1(n1525[3]));
    defparam add_1180_1.INIT0 = "0xc33c";
    defparam add_1180_1.INIT1 = "0xc33c";
    (* lut_function="(A (B (C+!(D))+!B !(D)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i253_4_lut (.A(n226), 
            .B(n47[5]), .C(n47[4]), .D(n225), .Z(n370_adj_440));
    defparam mod_7_i253_4_lut.INIT = "0x80aa";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C+(D)))+!A !(B (C+(D))+!B !((D)+!C))))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i312_3_lut_4_lut (.A(n47[3]), 
            .B(n380_adj_435), .C(n1537[5]), .D(n5568), .Z(n454_adj_461));
    defparam mod_7_i312_3_lut_4_lut.INIT = "0x66f0";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A (B)))", lineinfo="@4(47[56],47[71])" *) LUT4 i3754_3_lut_4_lut (.A(n47[2]), 
            .B(n5994), .C(n47[3]), .D(n380_adj_435), .Z(n14_adj_453));
    defparam i3754_3_lut_4_lut.INIT = "0x3113";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C+(D)))+!A !(B (C+(D))+!B !((D)+!C))))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i312_3_lut_4_lut (.A(n373), 
            .B(n380), .C(n1669[5]), .D(n5556), .Z(n454));
    defparam mod_4_i312_3_lut_4_lut.INIT = "0x66f0";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1181_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(n47[2]), .C1(VCC_net), .D1(n7201), 
            .CI1(n7201), .CO0(n7201), .CO1(n5022), .S1(n1537[4]));
    defparam add_1181_1.INIT0 = "0xc33c";
    defparam add_1181_1.INIT1 = "0xc33c";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A (B)))", lineinfo="@4(47[11],47[27])" *) LUT4 i3803_3_lut_4_lut (.A(n329), 
            .B(n6006), .C(n373), .D(n380), .Z(n14));
    defparam i3803_3_lut_4_lut.INIT = "0x3113";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(n47[0]), .C1(VCC_net), 
            .D1(n7219), .CI1(n7219), .CO0(n7219), .CO1(n5005), .S1(n508_adj_472[2]));
    defparam mod_7_add_354_1.INIT0 = "0xc33c";
    defparam mod_7_add_354_1.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_9 (.A0(GND_net), 
            .B0(n486), .C0(VCC_net), .D0(n5011), .CI0(n5011), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n7237), .CI1(n7237), .CO0(n7237), 
            .S0(n508_adj_472[9]));
    defparam mod_7_add_354_9.INIT0 = "0xc33c";
    defparam mod_7_add_354_9.INIT1 = "0xc33c";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module NES
//

module NES (input data_c, output continCLK_c, input GND_net, output delete_me_c_0, 
            output delete_me_c_1, output delete_me_c_2, output latch_c, 
            input CLK);
    
    (* is_clock=1, SET_AS_NETWORK="\\NES_inst/NESclk", lineinfo="@3(23[8],23[14])" *) wire NESclk;
    (* is_clock=1, lineinfo="@7(82[12],82[15])" *) wire CLK;
    
    wire output_7__N_34;
    (* lineinfo="@3(25[8],25[14])" *) wire [7:0]\output ;
    (* lineinfo="@3(24[8],24[16])" *) wire [11:0]NEScount;
    
    wire n5101, n7279, n5103;
    wire [19:0]n85;
    
    wire n5099, n7276, n5519, n2916, n2950, n5097, n7273, n15, 
        n14, n2947, n6, n5095, n7270, n17, n16, n5093, n7267, 
        n19, n18, n7249, VCC_net, n20, n5111, n7294, n5109, 
        n7291, n5107, n7288, n5105, n7285, n7282, GND_net_c;
    
    (* LSE_LINE_FILE_ID=95, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=97, LSE_RLINE=97, lineinfo="@3(39[4],41[11])" *) FD1P3XZ output_i0_i2 (.D(\output [1]), 
            .SP(output_7__N_34), .CK(NESclk), .SR(GND_net_c), .Q(\output [2]));
    defparam output_i0_i2.REGSET = "RESET";
    defparam output_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i3_3_lut (.A(NESclk), .B(output_7__N_34), 
            .C(NEScount[3]), .Z(continCLK_c));
    defparam i3_3_lut.INIT = "0x0808";
    (* LSE_LINE_FILE_ID=95, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=97, LSE_RLINE=97, lineinfo="@3(39[4],41[11])" *) FD1P3XZ output_i0_i1 (.D(\output [0]), 
            .SP(output_7__N_34), .CK(NESclk), .SR(GND_net_c), .Q(\output [1]));
    defparam output_i0_i1.REGSET = "RESET";
    defparam output_i0_i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i1 (.D(n85[0]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n20));
    defparam count_865_893__i1.REGSET = "RESET";
    defparam count_865_893__i1.SRMODE = "CE_OVER_LSR";
    FA2 count_865_893_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(NEScount[1]), 
        .D0(n5101), .CI0(n5101), .A1(GND_net), .B1(GND_net), .C1(NEScount[2]), 
        .D1(n7279), .CI1(n7279), .CO0(n7279), .CO1(n5103), .S0(n85[9]), 
        .S1(n85[10]));
    defparam count_865_893_add_4_11.INIT0 = "0xc33c";
    defparam count_865_893_add_4_11.INIT1 = "0xc33c";
    FA2 count_865_893_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(NESclk), 
        .D0(n5099), .CI0(n5099), .A1(GND_net), .B1(GND_net), .C1(NEScount[0]), 
        .D1(n7276), .CI1(n7276), .CO0(n7276), .CO1(n5101), .S0(n85[7]), 
        .S1(n85[8]));
    defparam count_865_893_add_4_9.INIT0 = "0xc33c";
    defparam count_865_893_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@3(54[13],54[59])" *) LUT4 digital_7__I_0_i1_3_lut (.A(delete_me_c_0), 
            .B(\output [0]), .C(n5519), .Z(delete_me_c_0));
    defparam digital_7__I_0_i1_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@3(54[13],54[59])" *) LUT4 digital_7__I_0_i2_3_lut (.A(delete_me_c_1), 
            .B(\output [1]), .C(n5519), .Z(delete_me_c_1));
    defparam digital_7__I_0_i2_3_lut.INIT = "0xacac";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(54[25],54[46])" *) LUT4 i3_4_lut (.A(NEScount[3]), 
            .B(NEScount[4]), .C(n2916), .D(n2950), .Z(n5519));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@3(54[13],54[59])" *) LUT4 digital_7__I_0_i3_3_lut (.A(delete_me_c_2), 
            .B(\output [2]), .C(n5519), .Z(delete_me_c_2));
    defparam digital_7__I_0_i3_3_lut.INIT = "0xacac";
    FA2 count_865_893_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n15), .D0(n5097), 
        .CI0(n5097), .A1(GND_net), .B1(GND_net), .C1(n14), .D1(n7273), 
        .CI1(n7273), .CO0(n7273), .CO1(n5099), .S0(n85[5]), .S1(n85[6]));
    defparam count_865_893_add_4_7.INIT0 = "0xc33c";
    defparam count_865_893_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A+!(B (C (D))))" *) LUT4 i1_4_lut (.A(n2947), .B(NEScount[1]), 
            .C(NEScount[2]), .D(NEScount[0]), .Z(n2916));
    defparam i1_4_lut.INIT = "0xbfff";
    (* lut_function="(!(((C)+!B)+!A))", lineinfo="@3(50[20],50[41])" *) LUT4 i1_3_lut (.A(NEScount[3]), 
            .B(NEScount[4]), .C(n2916), .Z(n6));
    defparam i1_3_lut.INIT = "0x0808";
    (* lut_function="(A (B (C (D))))", lineinfo="@3(50[20],50[41])" *) LUT4 i4_4_lut (.A(NEScount[7]), 
            .B(NEScount[6]), .C(NEScount[5]), .D(n6), .Z(latch_c));
    defparam i4_4_lut.INIT = "0x8000";
    FA2 count_865_893_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n17), .D0(n5095), 
        .CI0(n5095), .A1(GND_net), .B1(GND_net), .C1(n16), .D1(n7270), 
        .CI1(n7270), .CO0(n7270), .CO1(n5097), .S0(n85[3]), .S1(n85[4]));
    defparam count_865_893_add_4_5.INIT0 = "0xc33c";
    defparam count_865_893_add_4_5.INIT1 = "0xc33c";
    FA2 count_865_893_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n19), .D0(n5093), 
        .CI0(n5093), .A1(GND_net), .B1(GND_net), .C1(n18), .D1(n7267), 
        .CI1(n7267), .CO0(n7267), .CO1(n5095), .S0(n85[1]), .S1(n85[2]));
    defparam count_865_893_add_4_3.INIT0 = "0xc33c";
    defparam count_865_893_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))", lineinfo="@3(54[25],54[46])" *) LUT4 i2_3_lut (.A(NEScount[6]), 
            .B(NEScount[5]), .C(NEScount[7]), .Z(n2950));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(54[25],54[46])" *) LUT4 i3_4_lut_adj_12 (.A(NEScount[8]), 
            .B(NEScount[10]), .C(NEScount[11]), .D(NEScount[9]), .Z(n2947));
    defparam i3_4_lut_adj_12.INIT = "0xfffe";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 i5475_3_lut (.A(NEScount[4]), 
            .B(n2947), .C(n2950), .Z(output_7__N_34));
    defparam i5475_3_lut.INIT = "0x0101";
    FA2 count_865_893_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n20), .D1(n7249), .CI1(n7249), 
        .CO0(n7249), .CO1(n5093), .S1(n85[0]));
    defparam count_865_893_add_4_1.INIT0 = "0xc33c";
    defparam count_865_893_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i2 (.D(n85[1]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n19));
    defparam count_865_893__i2.REGSET = "RESET";
    defparam count_865_893__i2.SRMODE = "CE_OVER_LSR";
    FA2 count_865_893_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(NEScount[11]), 
        .D0(n5111), .CI0(n5111), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n7294), .CI1(n7294), .CO0(n7294), .S0(n85[19]));
    defparam count_865_893_add_4_21.INIT0 = "0xc33c";
    defparam count_865_893_add_4_21.INIT1 = "0xc33c";
    FA2 count_865_893_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(NEScount[9]), 
        .D0(n5109), .CI0(n5109), .A1(GND_net), .B1(GND_net), .C1(NEScount[10]), 
        .D1(n7291), .CI1(n7291), .CO0(n7291), .CO1(n5111), .S0(n85[17]), 
        .S1(n85[18]));
    defparam count_865_893_add_4_19.INIT0 = "0xc33c";
    defparam count_865_893_add_4_19.INIT1 = "0xc33c";
    FA2 count_865_893_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(NEScount[7]), 
        .D0(n5107), .CI0(n5107), .A1(GND_net), .B1(GND_net), .C1(NEScount[8]), 
        .D1(n7288), .CI1(n7288), .CO0(n7288), .CO1(n5109), .S0(n85[15]), 
        .S1(n85[16]));
    defparam count_865_893_add_4_17.INIT0 = "0xc33c";
    defparam count_865_893_add_4_17.INIT1 = "0xc33c";
    FA2 count_865_893_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(NEScount[5]), 
        .D0(n5105), .CI0(n5105), .A1(GND_net), .B1(GND_net), .C1(NEScount[6]), 
        .D1(n7285), .CI1(n7285), .CO0(n7285), .CO1(n5107), .S0(n85[13]), 
        .S1(n85[14]));
    defparam count_865_893_add_4_15.INIT0 = "0xc33c";
    defparam count_865_893_add_4_15.INIT1 = "0xc33c";
    FA2 count_865_893_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(NEScount[3]), 
        .D0(n5103), .CI0(n5103), .A1(GND_net), .B1(GND_net), .C1(NEScount[4]), 
        .D1(n7282), .CI1(n7282), .CO0(n7282), .CO1(n5105), .S0(n85[11]), 
        .S1(n85[12]));
    defparam count_865_893_add_4_13.INIT0 = "0xc33c";
    defparam count_865_893_add_4_13.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i3 (.D(n85[2]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n18));
    defparam count_865_893__i3.REGSET = "RESET";
    defparam count_865_893__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i4 (.D(n85[3]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n17));
    defparam count_865_893__i4.REGSET = "RESET";
    defparam count_865_893__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i5 (.D(n85[4]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n16));
    defparam count_865_893__i5.REGSET = "RESET";
    defparam count_865_893__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i6 (.D(n85[5]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n15));
    defparam count_865_893__i6.REGSET = "RESET";
    defparam count_865_893__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i7 (.D(n85[6]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n14));
    defparam count_865_893__i7.REGSET = "RESET";
    defparam count_865_893__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i8 (.D(n85[7]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NESclk));
    defparam count_865_893__i8.REGSET = "RESET";
    defparam count_865_893__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i9 (.D(n85[8]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[0]));
    defparam count_865_893__i9.REGSET = "RESET";
    defparam count_865_893__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i10 (.D(n85[9]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[1]));
    defparam count_865_893__i10.REGSET = "RESET";
    defparam count_865_893__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i11 (.D(n85[10]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[2]));
    defparam count_865_893__i11.REGSET = "RESET";
    defparam count_865_893__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i12 (.D(n85[11]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[3]));
    defparam count_865_893__i12.REGSET = "RESET";
    defparam count_865_893__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i13 (.D(n85[12]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[4]));
    defparam count_865_893__i13.REGSET = "RESET";
    defparam count_865_893__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i14 (.D(n85[13]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[5]));
    defparam count_865_893__i14.REGSET = "RESET";
    defparam count_865_893__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i15 (.D(n85[14]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[6]));
    defparam count_865_893__i15.REGSET = "RESET";
    defparam count_865_893__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i16 (.D(n85[15]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[7]));
    defparam count_865_893__i16.REGSET = "RESET";
    defparam count_865_893__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i17 (.D(n85[16]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[8]));
    defparam count_865_893__i17.REGSET = "RESET";
    defparam count_865_893__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i18 (.D(n85[17]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[9]));
    defparam count_865_893__i18.REGSET = "RESET";
    defparam count_865_893__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i19 (.D(n85[18]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[10]));
    defparam count_865_893__i19.REGSET = "RESET";
    defparam count_865_893__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_865_893__i20 (.D(n85[19]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[11]));
    defparam count_865_893__i20.REGSET = "RESET";
    defparam count_865_893__i20.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_c));
    (* LSE_LINE_FILE_ID=95, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=97, LSE_RLINE=97, lineinfo="@3(39[4],41[11])" *) IOL_B output_i0_i0 (.PADDI(data_c), 
            .DO1(GND_net_c), .DO0(GND_net_c), .CE(output_7__N_34), .IOLTO(GND_net_c), 
            .HOLD(GND_net_c), .INCLK(NESclk), .OUTCLK(GND_net_c), .DI0(\output [0]));
    defparam output_i0_i0.LATCHIN = "NONE_REG";
    defparam output_i0_i0.DDROUT = "NO";
    VHI i1 (.Z(VCC_net));
    
endmodule
