// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 3.2.1.217.3
// Netlist written on Tue Dec  6 14:19:21 2022
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/mypll/rtl/mypll.v"
// file 1 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/board.vhd"
// file 2 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/display.vhd"
// file 3 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/nes.vhd"
// file 4 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/pattern_gen.vhd"
// file 5 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/randompos.vhd"
// file 6 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/snakepos.vhd"
// file 7 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/topmodule.vhd"
// file 8 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/vga.vhd"
// file 9 "c:/lscc/radiant/3.2/ip/pmi/pmi_ice40up.v"
// file 10 "c:/lscc/radiant/3.2/ip/pmi/pmi_ice40up.vhd"
// file 11 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 12 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 13 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 14 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 15 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 16 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 17 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 18 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 19 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 20 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 21 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 22 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 23 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 24 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 25 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 26 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 27 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 28 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 29 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 30 "c:/lscc/radiant/3.2/ip/avant/fifo/rtl/lscc_fifo.v"
// file 31 "c:/lscc/radiant/3.2/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 32 "c:/lscc/radiant/3.2/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/3.2/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/3.2/ip/avant/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/3.2/ip/common/adder/rtl/lscc_adder.v"
// file 36 "c:/lscc/radiant/3.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 37 "c:/lscc/radiant/3.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 38 "c:/lscc/radiant/3.2/ip/common/counter/rtl/lscc_cntr.v"
// file 39 "c:/lscc/radiant/3.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 40 "c:/lscc/radiant/3.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 41 "c:/lscc/radiant/3.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 42 "c:/lscc/radiant/3.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 43 "c:/lscc/radiant/3.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 44 "c:/lscc/radiant/3.2/ip/pmi/pmi_add.v"
// file 45 "c:/lscc/radiant/3.2/ip/pmi/pmi_addsub.v"
// file 46 "c:/lscc/radiant/3.2/ip/pmi/pmi_complex_mult.v"
// file 47 "c:/lscc/radiant/3.2/ip/pmi/pmi_counter.v"
// file 48 "c:/lscc/radiant/3.2/ip/pmi/pmi_dsp.v"
// file 49 "c:/lscc/radiant/3.2/ip/pmi/pmi_fifo.v"
// file 50 "c:/lscc/radiant/3.2/ip/pmi/pmi_fifo_dc.v"
// file 51 "c:/lscc/radiant/3.2/ip/pmi/pmi_mac.v"
// file 52 "c:/lscc/radiant/3.2/ip/pmi/pmi_mult.v"
// file 53 "c:/lscc/radiant/3.2/ip/pmi/pmi_multaddsub.v"
// file 54 "c:/lscc/radiant/3.2/ip/pmi/pmi_multaddsubsum.v"
// file 55 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dp.v"
// file 56 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dp_be.v"
// file 57 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dq.v"
// file 58 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dq_be.v"
// file 59 "c:/lscc/radiant/3.2/ip/pmi/pmi_rom.v"
// file 60 "c:/lscc/radiant/3.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input data, output latch, output continCLK, input pll_in_clock, 
            output pll_outcore_o, output HSYNC, output VSYNC, output [2:0]delete_me, 
            output [5:0]rgb);
    
    (* is_clock=1, lineinfo="@7(13[9],13[21])" *) wire pll_in_clock_c;
    (* is_clock=1, lineinfo="@7(14[9],14[22])" *) wire pll_outcore_o_c;
    (* is_clock=1, lineinfo="@7(87[12],87[15])" *) wire CLK;
    
    wire latch_c, continCLK_c, HSYNC_c, VSYNC_c, rgb_c_4, rgb_c_3, 
        n44, n45_2, GND_net, n1127, n1126;
    (* lineinfo="@2(62[12],62[19])" *) wire [9:0]row_cnt;
    (* lineinfo="@2(66[12],66[22])" *) wire [9:0]column_cnt;
    
    wire n6, n16, n45_adj_184, n18, n44_adj_185, n16_adj_186, n6_adj_187, 
        n8, n10, n12, n1138, n1139, n1140, n1141, n1142, n1143, 
        n1146, n1137, n14, n46, n43, n14_adj_188, n42, n41, 
        n40, n12_adj_189, n39, n10_adj_190, n1170, n1168, n8_adj_191, 
        n1165, n12_adj_192, n1162, n6_adj_193, n10_adj_194, n8_adj_195, 
        n43_adj_196, n42_adj_197, n41_adj_198, n40_adj_199, n39_adj_200, 
        n18_adj_201, n16_adj_202, n18_adj_203, n6_adj_204, n46_adj_205, 
        n14_adj_206, n16_adj_207, n18_adj_208, n14_adj_209, n12_adj_210, 
        n10_adj_211, n8_adj_212, n1135, n1132, n1131, n1130, n1129, 
        n1128, VCC_net;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@7(19[3],19[12])" *) OB \delete_me_pad[2]  (.I(GND_net), 
            .O(delete_me[2]));
    (* lineinfo="@7(17[9],17[14])" *) OB VSYNC_pad (.I(VSYNC_c), .O(VSYNC));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[0]  (.I(GND_net), .O(rgb[0]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[1]  (.I(GND_net), .O(rgb[1]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[2]  (.I(rgb_c_3), .O(rgb[2]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[3]  (.I(rgb_c_3), .O(rgb[3]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[4]  (.I(rgb_c_4), .O(rgb[4]));
    (* lineinfo="@7(20[9],20[12])" *) OB \rgb_pad[5]  (.I(rgb_c_4), .O(rgb[5]));
    (* lineinfo="@7(19[3],19[12])" *) OB \delete_me_pad[0]  (.I(GND_net), 
            .O(delete_me[0]));
    (* lineinfo="@7(16[9],16[14])" *) OB HSYNC_pad (.I(HSYNC_c), .O(HSYNC));
    (* lineinfo="@7(19[3],19[12])" *) OB \delete_me_pad[1]  (.I(GND_net), 
            .O(delete_me[1]));
    (* lineinfo="@7(14[9],14[22])" *) OB pll_outcore_o_pad (.I(pll_outcore_o_c), 
            .O(pll_outcore_o));
    (* lineinfo="@7(10[9],10[18])" *) OB continCLK_pad (.I(continCLK_c), .O(continCLK));
    (* lineinfo="@7(9[9],9[14])" *) OB latch_pad (.I(latch_c), .O(latch));
    (* lineinfo="@7(13[9],13[21])" *) IB pll_in_clock_pad (.I(pll_in_clock), 
            .O(pll_in_clock_c));
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[67],59[127])" *) LUT4 LessThan_853_i8_3_lut (.A(n6), 
            .B(n45_adj_184), .C(column_cnt[3]), .Z(n8_adj_195));
    defparam LessThan_853_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[67],59[127])" *) LUT4 LessThan_853_i10_3_lut (.A(n8_adj_195), 
            .B(n44_adj_185), .C(column_cnt[4]), .Z(n10_adj_194));
    defparam LessThan_853_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[67],59[127])" *) LUT4 LessThan_853_i12_3_lut (.A(n10_adj_194), 
            .B(n43_adj_196), .C(column_cnt[5]), .Z(n12_adj_192));
    defparam LessThan_853_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[67],59[127])" *) LUT4 LessThan_853_i14_3_lut (.A(n12_adj_192), 
            .B(n42_adj_197), .C(column_cnt[6]), .Z(n14_adj_206));
    defparam LessThan_853_i14_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[67],59[127])" *) LUT4 LessThan_853_i16_3_lut (.A(n14_adj_206), 
            .B(n41_adj_198), .C(column_cnt[7]), .Z(n16_adj_207));
    defparam LessThan_853_i16_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[67],59[127])" *) LUT4 LessThan_853_i18_3_lut (.A(n16_adj_207), 
            .B(n40_adj_199), .C(column_cnt[8]), .Z(n18_adj_208));
    defparam LessThan_853_i18_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[134],59[184])" *) LUT4 LessThan_856_i6_3_lut (.A(row_cnt[1]), 
            .B(row_cnt[2]), .C(n1132), .Z(n6_adj_187));
    defparam LessThan_856_i6_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[134],59[184])" *) LUT4 LessThan_856_i8_3_lut (.A(n6_adj_187), 
            .B(row_cnt[3]), .C(n1131), .Z(n8));
    defparam LessThan_856_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[134],59[184])" *) LUT4 LessThan_856_i10_3_lut (.A(n8), 
            .B(row_cnt[4]), .C(n1130), .Z(n10));
    defparam LessThan_856_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[134],59[184])" *) LUT4 LessThan_856_i12_3_lut (.A(n10), 
            .B(row_cnt[5]), .C(n1129), .Z(n12));
    defparam LessThan_856_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[134],59[184])" *) LUT4 LessThan_856_i14_3_lut (.A(n12), 
            .B(row_cnt[6]), .C(n1128), .Z(n14_adj_188));
    defparam LessThan_856_i14_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[134],59[184])" *) LUT4 LessThan_856_i16_3_lut (.A(n14_adj_188), 
            .B(row_cnt[7]), .C(n1127), .Z(n16));
    defparam LessThan_856_i16_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[134],59[184])" *) LUT4 LessThan_856_i18_3_lut (.A(n16), 
            .B(row_cnt[8]), .C(n1126), .Z(n18_adj_203));
    defparam LessThan_856_i18_3_lut.INIT = "0x8e8e";
    (* lut_function="(!(A (B (C (D))+!B (C+(D)))+!A !(B+!(C))))", lineinfo="@4(59[191],59[251])" *) LUT4 LessThan_858_i6_4_lut (.A(row_cnt[0]), 
            .B(n1143), .C(row_cnt[2]), .D(row_cnt[1]), .Z(n6_adj_193));
    defparam LessThan_858_i6_4_lut.INIT = "0x4dcf";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[191],59[251])" *) LUT4 LessThan_858_i8_3_lut (.A(n6_adj_193), 
            .B(n1142), .C(row_cnt[3]), .Z(n8_adj_191));
    defparam LessThan_858_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[191],59[251])" *) LUT4 LessThan_858_i10_3_lut (.A(n8_adj_191), 
            .B(n1141), .C(row_cnt[4]), .Z(n10_adj_190));
    defparam LessThan_858_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[191],59[251])" *) LUT4 LessThan_858_i12_3_lut (.A(n10_adj_190), 
            .B(n1140), .C(row_cnt[5]), .Z(n12_adj_189));
    defparam LessThan_858_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[191],59[251])" *) LUT4 LessThan_858_i14_3_lut (.A(n12_adj_189), 
            .B(n1139), .C(row_cnt[6]), .Z(n14));
    defparam LessThan_858_i14_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[191],59[251])" *) LUT4 LessThan_858_i16_3_lut (.A(n14), 
            .B(n1138), .C(row_cnt[7]), .Z(n16_adj_186));
    defparam LessThan_858_i16_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[191],59[251])" *) LUT4 LessThan_858_i18_3_lut (.A(n16_adj_186), 
            .B(n1137), .C(row_cnt[8]), .Z(n18));
    defparam LessThan_858_i18_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[9],59[60])" *) LUT4 LessThan_850_i8_3_lut (.A(n6_adj_204), 
            .B(column_cnt[3]), .C(n45_2), .Z(n8_adj_212));
    defparam LessThan_850_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[9],59[60])" *) LUT4 LessThan_850_i10_3_lut (.A(n8_adj_212), 
            .B(column_cnt[4]), .C(n44), .Z(n10_adj_211));
    defparam LessThan_850_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[9],59[60])" *) LUT4 LessThan_850_i12_3_lut (.A(n10_adj_211), 
            .B(column_cnt[5]), .C(n43), .Z(n12_adj_210));
    defparam LessThan_850_i12_3_lut.INIT = "0x8e8e";
    (* lineinfo="@7(101[15],101[18])" *) NES NES_inst (GND_net, CLK, latch_c, 
            continCLK_c);
    (* syn_instantiated=1 *) HSOSC_CORE HSOSC_inst (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(CLK));
    defparam HSOSC_inst.CLKHF_DIV = "0b00";
    defparam HSOSC_inst.FABRIC_TRIME = "DISABLE";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[9],59[60])" *) LUT4 LessThan_850_i14_3_lut (.A(n12_adj_210), 
            .B(column_cnt[6]), .C(n42), .Z(n14_adj_209));
    defparam LessThan_850_i14_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[9],59[60])" *) LUT4 LessThan_850_i16_3_lut (.A(n14_adj_209), 
            .B(column_cnt[7]), .C(n41), .Z(n16_adj_202));
    defparam LessThan_850_i16_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[9],59[60])" *) LUT4 LessThan_850_i18_3_lut (.A(n16_adj_202), 
            .B(column_cnt[8]), .C(n40), .Z(n18_adj_201));
    defparam LessThan_850_i18_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[67],59[127])" *) LUT4 LessThan_853_i20_3_lut (.A(n18_adj_208), 
            .B(n39_adj_200), .C(column_cnt[9]), .Z(n1165));
    defparam LessThan_853_i20_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[134],59[184])" *) LUT4 LessThan_856_i20_3_lut (.A(n18_adj_203), 
            .B(row_cnt[9]), .C(n1135), .Z(n1168));
    defparam LessThan_856_i20_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[191],59[251])" *) LUT4 LessThan_858_i20_3_lut (.A(n18), 
            .B(n1146), .C(row_cnt[9]), .Z(n1170));
    defparam LessThan_858_i20_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@4(59[9],59[60])" *) LUT4 LessThan_850_i20_3_lut (.A(n18_adj_201), 
            .B(column_cnt[9]), .C(n39), .Z(n1162));
    defparam LessThan_850_i20_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B ((D)+!C)+!B !(C+!(D)))+!A !((C)+!B))", lineinfo="@4(59[9],59[60])" *) LUT4 LessThan_850_i6_4_lut (.A(column_cnt[0]), 
            .B(column_cnt[2]), .C(n46), .D(column_cnt[1]), .Z(n6_adj_204));
    defparam LessThan_850_i6_4_lut.INIT = "0x8e0c";
    (* lut_function="(!(A (B (C (D))+!B (C+(D)))+!A !(B+!(C))))", lineinfo="@4(59[67],59[127])" *) LUT4 LessThan_853_i6_4_lut (.A(column_cnt[0]), 
            .B(n46_adj_205), .C(column_cnt[2]), .D(column_cnt[1]), .Z(n6));
    defparam LessThan_853_i6_4_lut.INIT = "0x4dcf";
    (* lineinfo="@7(107[19],107[26])" *) display display_inst ({column_cnt}, 
            {row_cnt}, GND_net, VSYNC_c, HSYNC_c, pll_in_clock_c, 
            pll_outcore_o_c, rgb_c_3, {n39, n40, n41, n42, n43, 
            n44, n45_2, n46}, rgb_c_4, n1135, n1127, n1126, n1129, 
            n1128, n1131, n1130, n1132, {n39_adj_200, n40_adj_199, 
            n41_adj_198, n42_adj_197, n43_adj_196, n44_adj_185, n45_adj_184, 
            n46_adj_205}, n1146, n1138, n1137, n1140, n1139, n1142, 
            n1141, n1143, n1162, n1170, n1168, n1165);
    VHI i6889 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module NES
//

module NES (input GND_net, input CLK, output latch_c, output continCLK_c);
    
    (* is_clock=1, lineinfo="@7(87[12],87[15])" *) wire CLK;
    
    wire n5739, n8433, NESclk;
    (* lineinfo="@3(24[8],24[16])" *) wire [11:0]NEScount;
    
    wire n5741;
    wire [19:0]n85;
    
    wire n5737, n8430, n15, n14, n20, n5735, n8427, n17, n16, 
        n5733, n8424, n19, n18, n8244, VCC_net, n2838, n12, 
        n10, n6956, n5751, n8451, n5749, n8448, n5747, n8445, 
        n5745, n8442, n5743, n8439, n8436, GND_net_c;
    
    FA2 count_869_926_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(NESclk), 
        .D0(n5739), .CI0(n5739), .A1(GND_net), .B1(GND_net), .C1(NEScount[0]), 
        .D1(n8433), .CI1(n8433), .CO0(n8433), .CO1(n5741), .S0(n85[7]), 
        .S1(n85[8]));
    defparam count_869_926_add_4_9.INIT0 = "0xc33c";
    defparam count_869_926_add_4_9.INIT1 = "0xc33c";
    FA2 count_869_926_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n15), .D0(n5737), 
        .CI0(n5737), .A1(GND_net), .B1(GND_net), .C1(n14), .D1(n8430), 
        .CI1(n8430), .CO0(n8430), .CO1(n5739), .S0(n85[5]), .S1(n85[6]));
    defparam count_869_926_add_4_7.INIT0 = "0xc33c";
    defparam count_869_926_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i2 (.D(n85[1]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n19));
    defparam count_869_926__i2.REGSET = "RESET";
    defparam count_869_926__i2.SRMODE = "CE_OVER_LSR";
    FA2 count_869_926_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n17), .D0(n5735), 
        .CI0(n5735), .A1(GND_net), .B1(GND_net), .C1(n16), .D1(n8427), 
        .CI1(n8427), .CO0(n8427), .CO1(n5737), .S0(n85[3]), .S1(n85[4]));
    defparam count_869_926_add_4_5.INIT0 = "0xc33c";
    defparam count_869_926_add_4_5.INIT1 = "0xc33c";
    FA2 count_869_926_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n19), .D0(n5733), 
        .CI0(n5733), .A1(GND_net), .B1(GND_net), .C1(n18), .D1(n8424), 
        .CI1(n8424), .CO0(n8424), .CO1(n5735), .S0(n85[1]), .S1(n85[2]));
    defparam count_869_926_add_4_3.INIT0 = "0xc33c";
    defparam count_869_926_add_4_3.INIT1 = "0xc33c";
    FA2 count_869_926_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n20), .D1(n8244), .CI1(n8244), 
        .CO0(n8244), .CO1(n5733), .S1(n85[0]));
    defparam count_869_926_add_4_1.INIT0 = "0xc33c";
    defparam count_869_926_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i3 (.D(n85[2]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n18));
    defparam count_869_926__i3.REGSET = "RESET";
    defparam count_869_926__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+!(B (C (D))))" *) LUT4 i5_4_lut (.A(n2838), .B(NEScount[7]), 
            .C(NEScount[4]), .D(NEScount[6]), .Z(n12));
    defparam i5_4_lut.INIT = "0xbfff";
    (* lut_function="(!(((C+!(D))+!B)+!A))", lineinfo="@3(50[20],50[41])" *) LUT4 i4_4_lut (.A(NEScount[2]), 
            .B(NEScount[5]), .C(n12), .D(NEScount[1]), .Z(n10));
    defparam i4_4_lut.INIT = "0x0800";
    (* lut_function="(A (B (C)))", lineinfo="@3(50[20],50[41])" *) LUT4 i5_3_lut (.A(NEScount[3]), 
            .B(n10), .C(NEScount[0]), .Z(latch_c));
    defparam i5_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(50[20],50[41])" *) LUT4 i3_4_lut (.A(NEScount[9]), 
            .B(NEScount[10]), .C(NEScount[8]), .D(NEScount[11]), .Z(n2838));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5883_4_lut (.A(n2838), .B(NEScount[7]), 
            .C(NEScount[6]), .D(NEScount[4]), .Z(n6956));
    defparam i5883_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+((C+(D))+!B)))" *) LUT4 i3_4_lut_adj_42 (.A(NEScount[5]), 
            .B(NESclk), .C(n6956), .D(NEScount[3]), .Z(continCLK_c));
    defparam i3_4_lut_adj_42.INIT = "0x0004";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i4 (.D(n85[3]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n17));
    defparam count_869_926__i4.REGSET = "RESET";
    defparam count_869_926__i4.SRMODE = "CE_OVER_LSR";
    FA2 count_869_926_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(NEScount[11]), 
        .D0(n5751), .CI0(n5751), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n8451), .CI1(n8451), .CO0(n8451), .S0(n85[19]));
    defparam count_869_926_add_4_21.INIT0 = "0xc33c";
    defparam count_869_926_add_4_21.INIT1 = "0xc33c";
    FA2 count_869_926_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(NEScount[9]), 
        .D0(n5749), .CI0(n5749), .A1(GND_net), .B1(GND_net), .C1(NEScount[10]), 
        .D1(n8448), .CI1(n8448), .CO0(n8448), .CO1(n5751), .S0(n85[17]), 
        .S1(n85[18]));
    defparam count_869_926_add_4_19.INIT0 = "0xc33c";
    defparam count_869_926_add_4_19.INIT1 = "0xc33c";
    FA2 count_869_926_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(NEScount[7]), 
        .D0(n5747), .CI0(n5747), .A1(GND_net), .B1(GND_net), .C1(NEScount[8]), 
        .D1(n8445), .CI1(n8445), .CO0(n8445), .CO1(n5749), .S0(n85[15]), 
        .S1(n85[16]));
    defparam count_869_926_add_4_17.INIT0 = "0xc33c";
    defparam count_869_926_add_4_17.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i5 (.D(n85[4]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n16));
    defparam count_869_926__i5.REGSET = "RESET";
    defparam count_869_926__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i6 (.D(n85[5]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n15));
    defparam count_869_926__i6.REGSET = "RESET";
    defparam count_869_926__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i7 (.D(n85[6]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n14));
    defparam count_869_926__i7.REGSET = "RESET";
    defparam count_869_926__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i8 (.D(n85[7]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NESclk));
    defparam count_869_926__i8.REGSET = "RESET";
    defparam count_869_926__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i9 (.D(n85[8]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[0]));
    defparam count_869_926__i9.REGSET = "RESET";
    defparam count_869_926__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i10 (.D(n85[9]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[1]));
    defparam count_869_926__i10.REGSET = "RESET";
    defparam count_869_926__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i11 (.D(n85[10]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[2]));
    defparam count_869_926__i11.REGSET = "RESET";
    defparam count_869_926__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i12 (.D(n85[11]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[3]));
    defparam count_869_926__i12.REGSET = "RESET";
    defparam count_869_926__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i13 (.D(n85[12]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[4]));
    defparam count_869_926__i13.REGSET = "RESET";
    defparam count_869_926__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i14 (.D(n85[13]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[5]));
    defparam count_869_926__i14.REGSET = "RESET";
    defparam count_869_926__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i15 (.D(n85[14]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[6]));
    defparam count_869_926__i15.REGSET = "RESET";
    defparam count_869_926__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i16 (.D(n85[15]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[7]));
    defparam count_869_926__i16.REGSET = "RESET";
    defparam count_869_926__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i17 (.D(n85[16]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[8]));
    defparam count_869_926__i17.REGSET = "RESET";
    defparam count_869_926__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i18 (.D(n85[17]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[9]));
    defparam count_869_926__i18.REGSET = "RESET";
    defparam count_869_926__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i19 (.D(n85[18]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[10]));
    defparam count_869_926__i19.REGSET = "RESET";
    defparam count_869_926__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i20 (.D(n85[19]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[11]));
    defparam count_869_926__i20.REGSET = "RESET";
    defparam count_869_926__i20.SRMODE = "CE_OVER_LSR";
    FA2 count_869_926_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(NEScount[5]), 
        .D0(n5745), .CI0(n5745), .A1(GND_net), .B1(GND_net), .C1(NEScount[6]), 
        .D1(n8442), .CI1(n8442), .CO0(n8442), .CO1(n5747), .S0(n85[13]), 
        .S1(n85[14]));
    defparam count_869_926_add_4_15.INIT0 = "0xc33c";
    defparam count_869_926_add_4_15.INIT1 = "0xc33c";
    FA2 count_869_926_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(NEScount[3]), 
        .D0(n5743), .CI0(n5743), .A1(GND_net), .B1(GND_net), .C1(NEScount[4]), 
        .D1(n8439), .CI1(n8439), .CO0(n8439), .CO1(n5745), .S0(n85[11]), 
        .S1(n85[12]));
    defparam count_869_926_add_4_13.INIT0 = "0xc33c";
    defparam count_869_926_add_4_13.INIT1 = "0xc33c";
    FA2 count_869_926_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(NEScount[1]), 
        .D0(n5741), .CI0(n5741), .A1(GND_net), .B1(GND_net), .C1(NEScount[2]), 
        .D1(n8436), .CI1(n8436), .CO0(n8436), .CO1(n5743), .S0(n85[9]), 
        .S1(n85[10]));
    defparam count_869_926_add_4_11.INIT0 = "0xc33c";
    defparam count_869_926_add_4_11.INIT1 = "0xc33c";
    VLO i2 (.Z(GND_net_c));
    (* syn_use_carry_chain=1 *) FD1P3XZ count_869_926__i1 (.D(n85[0]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n20));
    defparam count_869_926__i1.REGSET = "RESET";
    defparam count_869_926__i1.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module display
//

module display (output [9:0]column_cnt, output [9:0]row_cnt, input GND_net, 
            output VSYNC_c, output HSYNC_c, input pll_in_clock_c, output pll_outcore_o_c, 
            output rgb_c_3, output [7:0]n47, output rgb_c_4, output n1135, 
            output n1127, output n1126, output n1129, output n1128, 
            output n1131, output n1130, output n1132, output [7:0]n47_adj_20, 
            output n1146, output n1138, output n1137, output n1140, 
            output n1139, output n1142, output n1141, output n1143, 
            input n1162, input n1170, input n1168, input n1165);
    
    (* is_clock=1, lineinfo="@2(59[12],59[15])" *) wire clk;
    (* is_clock=1, lineinfo="@7(13[9],13[21])" *) wire pll_in_clock_c;
    (* is_clock=1, lineinfo="@7(14[9],14[22])" *) wire pll_outcore_o_c;
    
    wire valid, n4, n4_adj_174, n2849, n6689, n4046, n6675, n8, 
        n13, n6244, n2896, n2668, n2871;
    
    (* lineinfo="@2(77[19],77[22])" *) vga vga_init (valid, clk, {column_cnt}, 
            {row_cnt}, GND_net, n4, n4_adj_174, n2849, n6689, n4046, 
            n6675, n8, n13, VSYNC_c, n6244, HSYNC_c, n2896, n2668, 
            n2871);
    (* lineinfo="@2(74[19],74[24])" *) mypll pll_init (GND_net, pll_in_clock_c, 
            pll_outcore_o_c, clk);
    (* lineinfo="@2(82[30],82[41])" *) pattern_gen pattern_gen_initial (GND_net, 
            {row_cnt}, n2896, n2849, {column_cnt}, n4_adj_174, n6689, 
            n4046, n6244, n6675, n4, n8, valid, rgb_c_3, n13, 
            {n47}, rgb_c_4, n1135, n1127, n1126, n1129, n1128, 
            n1131, n1130, n1132, {n47_adj_20}, n1146, n1138, n1137, 
            n1140, n1139, n1142, n1141, n1143, n1162, n1170, n1168, 
            n1165, n2871, n2668);
    
endmodule

//
// Verilog Description of module vga
//

module vga (output valid, input clk, output [9:0]column_cnt, output [9:0]row_cnt, 
            input GND_net, output n4, output n4_adj_11, input n2849, 
            input n6689, input n4046, output n6675, input n8, input n13, 
            output VSYNC_c, output n6244, output HSYNC_c, output n2896, 
            output n2668, output n2871);
    
    (* is_clock=1, lineinfo="@2(59[12],59[15])" *) wire clk;
    
    wire valid_N_78;
    wire [9:0]n45;
    
    wire n2922;
    wire [9:0]n35;
    
    wire n2948, n5686, n8412, n5688, n5666, n8232, n5668, n5684, 
        n8247, n5664, n8229, n8223, VCC_net, n8226, n6950, n2854, 
        n2855, n4_adj_172, n18, n4_adj_173, HSYNC_N_83, n4131, HSYNC_N_82, 
        VSYNC_N_85, VSYNC_N_86, n4245, n5672, n8241, n5692, n8421, 
        n5670, n8238, n5690, n8418, n8235, n8415, GND_net_c;
    
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i0 (.D(n45[0]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[0]));
    defparam x_pos_871__i0.REGSET = "RESET";
    defparam x_pos_871__i0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i9 (.D(n35[9]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[9]));
    defparam y_pos_870__i9.REGSET = "RESET";
    defparam y_pos_870__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i8 (.D(n35[8]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[8]));
    defparam y_pos_870__i8.REGSET = "RESET";
    defparam y_pos_870__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i6 (.D(n35[6]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[6]));
    defparam y_pos_870__i6.REGSET = "RESET";
    defparam y_pos_870__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i7 (.D(n35[7]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[7]));
    defparam y_pos_870__i7.REGSET = "RESET";
    defparam y_pos_870__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i1 (.D(n45[1]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[1]));
    defparam x_pos_871__i1.REGSET = "RESET";
    defparam x_pos_871__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i5 (.D(n35[5]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[5]));
    defparam y_pos_870__i5.REGSET = "RESET";
    defparam y_pos_870__i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_871_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(column_cnt[3]), .D0(n5686), .CI0(n5686), 
            .A1(GND_net), .B1(GND_net), .C1(column_cnt[4]), .D1(n8412), 
            .CI1(n8412), .CO0(n8412), .CO1(n5688), .S0(n45[3]), .S1(n45[4]));
    defparam x_pos_871_add_4_5.INIT0 = "0xc33c";
    defparam x_pos_871_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_870_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[3]), .D0(n5666), .CI0(n5666), 
            .A1(GND_net), .B1(GND_net), .C1(row_cnt[4]), .D1(n8232), 
            .CI1(n8232), .CO0(n8232), .CO1(n5668), .S0(n35[3]), .S1(n35[4]));
    defparam y_pos_870_add_4_5.INIT0 = "0xc33c";
    defparam y_pos_870_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_871_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(column_cnt[1]), .D0(n5684), .CI0(n5684), 
            .A1(GND_net), .B1(GND_net), .C1(column_cnt[2]), .D1(n8247), 
            .CI1(n8247), .CO0(n8247), .CO1(n5686), .S0(n45[1]), .S1(n45[2]));
    defparam x_pos_871_add_4_3.INIT0 = "0xc33c";
    defparam x_pos_871_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_870_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[1]), .D0(n5664), .CI0(n5664), 
            .A1(GND_net), .B1(GND_net), .C1(row_cnt[2]), .D1(n8229), 
            .CI1(n8229), .CO0(n8229), .CO1(n5666), .S0(n35[1]), .S1(n35[2]));
    defparam y_pos_870_add_4_3.INIT0 = "0xc33c";
    defparam y_pos_870_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_871_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(column_cnt[0]), .D1(n8223), .CI1(n8223), .CO0(n8223), 
            .CO1(n5684), .S1(n45[0]));
    defparam x_pos_871_add_4_1.INIT0 = "0xc33c";
    defparam x_pos_871_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_870_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(row_cnt[0]), .D1(n8226), .CI1(n8226), .CO0(n8226), .CO1(n5664), 
            .S1(n35[0]));
    defparam y_pos_870_add_4_1.INIT0 = "0xc33c";
    defparam y_pos_870_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i0 (.D(n35[0]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[0]));
    defparam y_pos_870__i0.REGSET = "RESET";
    defparam y_pos_870__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(row_cnt[2]), .B(row_cnt[3]), 
            .Z(n4));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i905_2_lut (.A(row_cnt[0]), .B(row_cnt[1]), 
            .Z(n4_adj_11));
    defparam i905_2_lut.INIT = "0xeeee";
    (* lut_function="(!((B+((D)+!C))+!A))" *) LUT4 i6259_4_lut (.A(n2922), 
            .B(n2849), .C(n6950), .D(n4_adj_11), .Z(n2948));
    defparam i6259_4_lut.INIT = "0x0020";
    (* lut_function="(!(A+!(B (C))))", lineinfo="@8(24[10],24[26])" *) LUT4 i6250_3_lut (.A(n6689), 
            .B(n4046), .C(column_cnt[8]), .Z(n2922));
    defparam i6250_3_lut.INIT = "0x4040";
    (* lut_function="(A (B (C)))" *) LUT4 i2_3_lut (.A(row_cnt[7]), .B(row_cnt[8]), 
            .C(row_cnt[6]), .Z(n6675));
    defparam i2_3_lut.INIT = "0x8080";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_38 (.A(n6675), .B(row_cnt[5]), 
            .Z(n2854));
    defparam i1_2_lut_adj_38.INIT = "0x8888";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i4 (.D(n35[4]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[4]));
    defparam y_pos_870__i4.REGSET = "RESET";
    defparam y_pos_870__i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i1_4_lut (.A(row_cnt[4]), 
            .B(n2854), .C(n8), .D(row_cnt[1]), .Z(n2855));
    defparam i1_4_lut.INIT = "0xccc8";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i2 (.D(n45[2]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[2]));
    defparam x_pos_871__i2.REGSET = "RESET";
    defparam x_pos_871__i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i935_4_lut (.A(n13), 
            .B(column_cnt[8]), .C(column_cnt[7]), .D(n4_adj_172), .Z(n18));
    defparam i935_4_lut.INIT = "0xfcec";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i3 (.D(n45[3]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[3]));
    defparam x_pos_871__i3.REGSET = "RESET";
    defparam x_pos_871__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A+(B (C+(D))+!B (C))))", lineinfo="@8(38[14],38[70])" *) LUT4 i6245_4_lut (.A(row_cnt[9]), 
            .B(n18), .C(n2855), .D(column_cnt[9]), .Z(valid_N_78));
    defparam i6245_4_lut.INIT = "0x0105";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i4 (.D(n45[4]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[4]));
    defparam x_pos_871__i4.REGSET = "RESET";
    defparam x_pos_871__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i5 (.D(n45[5]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[5]));
    defparam x_pos_871__i5.REGSET = "RESET";
    defparam x_pos_871__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i6 (.D(n45[6]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[6]));
    defparam x_pos_871__i6.REGSET = "RESET";
    defparam x_pos_871__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i7 (.D(n45[7]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[7]));
    defparam x_pos_871__i7.REGSET = "RESET";
    defparam x_pos_871__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i8 (.D(n45[8]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[8]));
    defparam x_pos_871__i8.REGSET = "RESET";
    defparam x_pos_871__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(32[16],32[21])" *) FD1P3XZ x_pos_871__i9 (.D(n45[9]), 
            .SP(VCC_net), .CK(clk), .SR(n2922), .Q(column_cnt[9]));
    defparam x_pos_871__i9.REGSET = "RESET";
    defparam x_pos_871__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i3 (.D(n35[3]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[3]));
    defparam y_pos_870__i3.REGSET = "RESET";
    defparam y_pos_870__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i915_4_lut (.A(column_cnt[7]), 
            .B(column_cnt[9]), .C(column_cnt[8]), .D(n4_adj_173), .Z(HSYNC_N_83));
    defparam i915_4_lut.INIT = "0xc8c0";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=22, LSE_LLINE=77, LSE_RLINE=77, lineinfo="@8(22[5],39[12])" *) FD1P3XZ VSYNC (.D(VSYNC_N_85), 
            .SP(VCC_net), .CK(clk), .SR(VSYNC_N_86), .Q(VSYNC_c));
    defparam VSYNC.REGSET = "SET";
    defparam VSYNC.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C+(D)))+!A (B (C))))" *) LUT4 i6253_4_lut (.A(n4131), 
            .B(column_cnt[9]), .C(column_cnt[8]), .D(column_cnt[7]), .Z(HSYNC_N_82));
    defparam i6253_4_lut.INIT = "0x373f";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=22, LSE_LLINE=77, LSE_RLINE=77, lineinfo="@8(22[5],39[12])" *) FD1P3XZ HSYNC (.D(HSYNC_N_82), 
            .SP(VCC_net), .CK(clk), .SR(HSYNC_N_83), .Q(HSYNC_c));
    defparam HSYNC.REGSET = "SET";
    defparam HSYNC.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i953_3_lut (.A(n6244), .B(row_cnt[9]), 
            .C(n2849), .Z(VSYNC_N_86));
    defparam i953_3_lut.INIT = "0xc8c8";
    (* lut_function="(A (B+(C)))" *) LUT4 i3548_3_lut (.A(row_cnt[3]), .B(row_cnt[1]), 
            .C(row_cnt[2]), .Z(n4245));
    defparam i3548_3_lut.INIT = "0xa8a8";
    (* lut_function="(!(A+(B (C)+!B (C (D)))))" *) LUT4 i6262_4_lut (.A(row_cnt[9]), 
            .B(row_cnt[4]), .C(n2854), .D(n4245), .Z(VSYNC_N_85));
    defparam i6262_4_lut.INIT = "0x0515";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i1 (.D(n35[1]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[1]));
    defparam y_pos_870__i1.REGSET = "RESET";
    defparam y_pos_870__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_870_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[9]), .D0(n5672), .CI0(n5672), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n8241), .CI1(n8241), 
            .CO0(n8241), .S0(n35[9]));
    defparam y_pos_870_add_4_11.INIT0 = "0xc33c";
    defparam y_pos_870_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@8(29[17],29[22])" *) FD1P3XZ y_pos_870__i2 (.D(n35[2]), 
            .SP(n2922), .CK(clk), .SR(n2948), .Q(row_cnt[2]));
    defparam y_pos_870__i2.REGSET = "RESET";
    defparam y_pos_870__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_871_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(column_cnt[9]), .D0(n5692), .CI0(n5692), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n8421), .CI1(n8421), 
            .CO0(n8421), .S0(n45[9]));
    defparam x_pos_871_add_4_11.INIT0 = "0xc33c";
    defparam x_pos_871_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_870_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[7]), .D0(n5670), .CI0(n5670), 
            .A1(GND_net), .B1(GND_net), .C1(row_cnt[8]), .D1(n8238), 
            .CI1(n8238), .CO0(n8238), .CO1(n5672), .S0(n35[7]), .S1(n35[8]));
    defparam y_pos_870_add_4_9.INIT0 = "0xc33c";
    defparam y_pos_870_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_871_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(column_cnt[7]), .D0(n5690), .CI0(n5690), 
            .A1(GND_net), .B1(GND_net), .C1(column_cnt[8]), .D1(n8418), 
            .CI1(n8418), .CO0(n8418), .CO1(n5692), .S0(n45[7]), .S1(n45[8]));
    defparam x_pos_871_add_4_9.INIT0 = "0xc33c";
    defparam x_pos_871_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@8(29[17],29[22])" *) FA2 y_pos_870_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(row_cnt[5]), .D0(n5668), .CI0(n5668), 
            .A1(GND_net), .B1(GND_net), .C1(row_cnt[6]), .D1(n8235), 
            .CI1(n8235), .CO0(n8235), .CO1(n5670), .S0(n35[5]), .S1(n35[6]));
    defparam y_pos_870_add_4_7.INIT0 = "0xc33c";
    defparam y_pos_870_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@8(32[16],32[21])" *) FA2 x_pos_871_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(column_cnt[5]), .D0(n5688), .CI0(n5688), 
            .A1(GND_net), .B1(GND_net), .C1(column_cnt[6]), .D1(n8415), 
            .CI1(n8415), .CO0(n8415), .CO1(n5690), .S0(n45[5]), .S1(n45[6]));
    defparam x_pos_871_add_4_7.INIT0 = "0xc33c";
    defparam x_pos_871_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A+(B))", lineinfo="@8(38[24],38[60])" *) LUT4 i1_2_lut_adj_39 (.A(row_cnt[9]), 
            .B(row_cnt[5]), .Z(n2896));
    defparam i1_2_lut_adj_39.INIT = "0xeeee";
    (* lut_function="(A+(B))", lineinfo="@8(34[24],34[41])" *) LUT4 i1980_2_lut (.A(column_cnt[5]), 
            .B(column_cnt[6]), .Z(n2668));
    defparam i1980_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_40 (.A(column_cnt[6]), 
            .B(column_cnt[5]), .Z(n2871));
    defparam i1_2_lut_adj_40.INIT = "0x8888";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_3_lut_4_lut (.A(row_cnt[3]), 
            .B(row_cnt[2]), .C(row_cnt[0]), .D(row_cnt[1]), .Z(n6244));
    defparam i2_3_lut_4_lut.INIT = "0x8880";
    (* lut_function="(A+(B+(C)))" *) LUT4 i3435_2_lut_3_lut (.A(column_cnt[4]), 
            .B(column_cnt[5]), .C(column_cnt[6]), .Z(n4131));
    defparam i3435_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C)))" *) LUT4 i1_2_lut_3_lut (.A(column_cnt[6]), 
            .B(column_cnt[5]), .C(column_cnt[4]), .Z(n4_adj_173));
    defparam i1_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut_adj_41 (.A(column_cnt[5]), 
            .B(column_cnt[6]), .C(column_cnt[1]), .Z(n4_adj_172));
    defparam i1_2_lut_3_lut_adj_41.INIT = "0xfefe";
    (* lut_function="(A (B (C)))" *) LUT4 i5877_2_lut_3_lut (.A(row_cnt[9]), 
            .B(row_cnt[2]), .C(row_cnt[3]), .Z(n6950));
    defparam i5877_2_lut_3_lut.INIT = "0x8080";
    VLO i2 (.Z(GND_net_c));
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=22, LSE_LLINE=77, LSE_RLINE=77, lineinfo="@8(22[5],39[12])" *) FD1P3XZ valid_c (.D(valid_N_78), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_c), .Q(valid));
    defparam valid_c.REGSET = "RESET";
    defparam valid_c.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module mypll
//

module mypll (input GND_net, input pll_in_clock_c, output pll_outcore_o_c, 
            output clk);
    
    (* is_clock=1, lineinfo="@7(13[9],13[21])" *) wire pll_in_clock_c;
    (* is_clock=1, lineinfo="@7(14[9],14[22])" *) wire pll_outcore_o_c;
    (* is_clock=1, lineinfo="@2(59[12],59[15])" *) wire clk;
    
    (* lineinfo="@0(35[41],48[26])" *) \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            pll_in_clock_c, pll_outcore_o_c, clk);
    
endmodule

//
// Verilog Description of module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input pll_in_clock_c, output pll_outcore_o_c, output clk);
    
    (* is_clock=1, lineinfo="@7(13[9],13[21])" *) wire pll_in_clock_c;
    (* is_clock=1, lineinfo="@7(14[9],14[22])" *) wire pll_outcore_o_c;
    (* is_clock=1, lineinfo="@2(59[12],59[15])" *) wire clk;
    
    wire VCC_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@0(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(pll_in_clock_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTCORE(pll_outcore_o_c), 
            .OUTGLOBAL(clk));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module pattern_gen
//

module pattern_gen (input GND_net, input [9:0]row_cnt, input n2896, output n2849, 
            input [9:0]column_cnt, input n4, output n6689, output n4046, 
            input n6244, input n6675, input n4_adj_1, output n8, input valid, 
            output rgb_c_3, output n13, output [7:0]n47, output rgb_c_4, 
            output n1135, output n1127, output n1126, output n1129, 
            output n1128, output n1131, output n1130, output n1132, 
            output [7:0]n47_adj_10, output n1146, output n1138, output n1137, 
            output n1140, output n1139, output n1142, output n1141, 
            output n1143, input n1162, input n1170, input n1168, input n1165, 
            input n2871, input n2668);
    
    
    wire n5635, n8352, n488, VCC_net, n487, n5637;
    wire [9:0]n508;
    
    wire n412;
    wire [9:0]n1663;
    
    wire n6315, n451;
    wire [9:0]n146;
    
    wire n413, n452, n281, n6936, n2815, n14, n411, n455, n454, 
        n453, n282, n4185, n450, n461;
    wire [9:0]n1651;
    
    wire n492, n2844, n4_c;
    wire [7:0]n47_c;
    
    wire n335, n371, n6928, n2809, n14_adj_105, n411_adj_106, n412_adj_107, 
        n413_adj_108, n6322;
    wire [9:0]n1531;
    
    wire n451_adj_109, n2545, n369, n6282, n450_adj_110, n6930, 
        n452_adj_111, n226, n225, n453_adj_112, n454_adj_113, n455_adj_114, 
        n4221, n461_adj_115, n492_adj_116, n4121, n489, n490, n491, 
        n6, n486, n497;
    wire [9:0]n1519;
    
    wire n283, n4227, n489_adj_117, n490_adj_118, n491_adj_119, n6_adj_120, 
        n487_adj_121, n488_adj_122, n486_adj_123, n497_adj_124, n2021, 
        n369_adj_125, n2006, n371_adj_126, n280, n6278;
    wire [9:0]n508_adj_168;
    
    wire n10, n3, n9, n10_adj_129, n3_adj_131, n9_adj_132, n277, 
        n278, n327, n276, n4_adj_133, n4_adj_135;
    wire [9:0]n90;
    
    wire n12, n10_adj_137, n11, n9_adj_138, n6286, n12_adj_140, 
        n10_adj_141, n11_adj_143, n9_adj_145, n6289, n5730, n8280, 
        n6288, n2868, n2870, n2874, n6_adj_147, n6690, n6261, 
        n4_adj_148, n2881, n6685, n2905, n2777, n82;
    wire [5:0]rgb_5__N_87;
    
    wire n6673, n6_adj_150, n5728, n8277, n5726, n8268, n5681, 
        n8370, n8265, n5722, n8292, n5679, n8367, n5720, n8289, 
        n5718, n8274, n370, n16, n5677, n8364, n5661, n8334, 
        n8271, n5631, n8340, n5633, n5675, n8361, n5715, n8301, 
        n8325, n5649, n5659, n8331, n5713, n8298, n5711, n8295, 
        n5657, n8322, n5646, n8262, n5709, n8286, n5769, n8316, 
        n5644, n8259, n8349, n5767, n8313, n8337, n5642, n8256, 
        n5765, n8310, n8283, n8358, n8319, n5706, n8394, n5763, 
        n8307, n5704, n8391, n8304, n5702, n8388, n5653, n8346, 
        n8385, n5760, n8409, n5758, n8406, n5756, n8403, n5754, 
        n8400, n8397, n5699, n8382, n5651, n8343, n5640, n8253, 
        n8250, n5697, n8379, n5695, n8376, n8373, n8328, n8355, 
        n16_adj_165, n2877, n4_adj_166, n51, n370_adj_167;
    
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_7 (.A0(GND_net), 
            .B0(n488), .C0(VCC_net), .D0(n5635), .CI0(n5635), .A1(GND_net), 
            .B1(n487), .C1(VCC_net), .D1(n8352), .CI1(n8352), .CO0(n8352), 
            .CO1(n5637), .S0(n508[7]), .S1(n508[8]));
    defparam mod_7_add_354_7.INIT0 = "0xc33c";
    defparam mod_7_add_354_7.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i309_3_lut (.A(n412), 
            .B(n1663[8]), .C(n6315), .Z(n451));
    defparam mod_4_i309_3_lut.INIT = "0xacac";
    (* lineinfo="@4(59[162],59[184])" *) MAC16 mult_9 (.CLK(GND_net), .CE(GND_net), 
            .C15(GND_net), .C14(GND_net), .C13(GND_net), .C12(GND_net), 
            .C11(GND_net), .C10(GND_net), .C9(GND_net), .C8(GND_net), 
            .C7(GND_net), .C6(GND_net), .C5(GND_net), .C4(GND_net), 
            .C3(GND_net), .C2(GND_net), .C1(GND_net), .C0(GND_net), 
            .A15(GND_net), .A14(GND_net), .A13(GND_net), .A12(GND_net), 
            .A11(GND_net), .A10(GND_net), .A9(GND_net), .A8(GND_net), 
            .A7(GND_net), .A6(GND_net), .A5(GND_net), .A4(GND_net), 
            .A3(VCC_net), .A2(GND_net), .A1(VCC_net), .A0(VCC_net), 
            .B15(GND_net), .B14(GND_net), .B13(GND_net), .B12(GND_net), 
            .B11(GND_net), .B10(GND_net), .B9(GND_net), .B8(GND_net), 
            .B7(GND_net), .B6(GND_net), .B5(GND_net), .B4(GND_net), 
            .B3(GND_net), .B2(VCC_net), .B1(VCC_net), .B0(VCC_net), 
            .D15(GND_net), .D14(GND_net), .D13(GND_net), .D12(GND_net), 
            .D11(GND_net), .D10(GND_net), .D9(GND_net), .D8(GND_net), 
            .D7(GND_net), .D6(GND_net), .D5(GND_net), .D4(GND_net), 
            .D3(GND_net), .D2(GND_net), .D1(GND_net), .D0(GND_net), 
            .AHOLD(GND_net), .BHOLD(GND_net), .CHOLD(GND_net), .DHOLD(GND_net), 
            .IRSTTOP(GND_net), .IRSTBOT(GND_net), .ORSTTOP(GND_net), .ORSTBOT(GND_net), 
            .OLOADTOP(GND_net), .OLOADBOT(GND_net), .ADDSUBTOP(GND_net), 
            .ADDSUBBOT(GND_net), .OHOLDTOP(GND_net), .OHOLDBOT(GND_net), 
            .CI(GND_net), .ACCUMCI(GND_net), .SIGNEXTIN(GND_net), .O6(n146[8]), 
            .O5(n146[7]), .O4(n146[6]), .O3(n146[5]), .O2(n146[4]), 
            .O1(n146[3]), .O0(n146[2]));
    defparam mult_9.NEG_TRIGGER = "0b0";
    defparam mult_9.A_REG = "0b0";
    defparam mult_9.B_REG = "0b0";
    defparam mult_9.C_REG = "0b0";
    defparam mult_9.D_REG = "0b0";
    defparam mult_9.TOP_8x8_MULT_REG = "0b0";
    defparam mult_9.BOT_8x8_MULT_REG = "0b0";
    defparam mult_9.PIPELINE_16x16_MULT_REG1 = "0b0";
    defparam mult_9.PIPELINE_16x16_MULT_REG2 = "0b0";
    defparam mult_9.TOPOUTPUT_SELECT = "0b10";
    defparam mult_9.TOPADDSUB_LOWERINPUT = "0b00";
    defparam mult_9.TOPADDSUB_UPPERINPUT = "0b0";
    defparam mult_9.TOPADDSUB_CARRYSELECT = "0b00";
    defparam mult_9.BOTOUTPUT_SELECT = "0b10";
    defparam mult_9.BOTADDSUB_LOWERINPUT = "0b00";
    defparam mult_9.BOTADDSUB_UPPERINPUT = "0b0";
    defparam mult_9.BOTADDSUB_CARRYSELECT = "0b00";
    defparam mult_9.MODE_8x8 = "0b1";
    defparam mult_9.A_SIGNED = "0b0";
    defparam mult_9.B_SIGNED = "0b0";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i310_3_lut (.A(n413), 
            .B(n1663[7]), .C(n6315), .Z(n452));
    defparam mod_4_i310_3_lut.INIT = "0xacac";
    (* lut_function="(!(A (B+(C))+!A (B)))", lineinfo="@4(47[11],47[27])" *) LUT4 i3454_3_lut (.A(n281), 
            .B(n6936), .C(n2815), .Z(n14));
    defparam i3454_3_lut.INIT = "0x1313";
    (* lut_function="(!(A+(B (C)+!B (C+(D)))))" *) LUT4 i2_4_lut (.A(n411), 
            .B(n14), .C(n412), .D(n413), .Z(n6315));
    defparam i2_4_lut.INIT = "0x0405";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i313_3_lut (.A(n281), 
            .B(n1663[4]), .C(n6315), .Z(n455));
    defparam mod_4_i313_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i312_3_lut (.A(n2815), 
            .B(n1663[5]), .C(n6315), .Z(n454));
    defparam mod_4_i312_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i311_3_lut (.A(n6936), 
            .B(n1663[6]), .C(n6315), .Z(n453));
    defparam mod_4_i311_3_lut.INIT = "0xacac";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i3489_4_lut (.A(n282), 
            .B(n453), .C(n454), .D(n455), .Z(n4185));
    defparam i3489_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut (.A(n4185), .B(n452), 
            .C(n451), .D(n450), .Z(n461));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i339_3_lut (.A(n282), 
            .B(n1651[3]), .C(n461), .Z(n492));
    defparam mod_4_i339_3_lut.INIT = "0xcaca";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(47[366],47[382])" *) LUT4 i1_2_lut_4_lut (.A(row_cnt[8]), 
            .B(row_cnt[7]), .C(row_cnt[6]), .D(n2896), .Z(n2844));
    defparam i1_2_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(47[366],47[382])" *) LUT4 i2_2_lut_4_lut (.A(row_cnt[8]), 
            .B(row_cnt[7]), .C(row_cnt[6]), .D(n4_c), .Z(n2849));
    defparam i2_2_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A (B (C))+!A !(B (C))))" *) LUT4 i6079_3_lut (.A(n47_c[5]), 
            .B(n47_c[4]), .C(n335), .Z(n371));
    defparam i6079_3_lut.INIT = "0x6a6a";
    (* lut_function="(!(A (B+(C))+!A (B)))", lineinfo="@4(47[56],47[71])" *) LUT4 i3385_3_lut (.A(n47_c[2]), 
            .B(n6928), .C(n2809), .Z(n14_adj_105));
    defparam i3385_3_lut.INIT = "0x1313";
    (* lut_function="(!(A+(B (C)+!B (C+(D)))))" *) LUT4 i2_4_lut_adj_3 (.A(n411_adj_106), 
            .B(n14_adj_105), .C(n412_adj_107), .D(n413_adj_108), .Z(n6322));
    defparam i2_4_lut_adj_3.INIT = "0x0405";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i309_3_lut (.A(n412_adj_107), 
            .B(n1531[8]), .C(n6322), .Z(n451_adj_109));
    defparam mod_7_i309_3_lut.INIT = "0xacac";
    (* lut_function="(!(A (C (D)+!C !(D))+!A (B (C (D)+!C !(D))+!B !(D))))", lineinfo="@4(47[56],47[71])" *) LUT4 i6080_3_lut_4_lut (.A(n2545), 
            .B(n369), .C(n47_c[3]), .D(n6282), .Z(n6928));
    defparam i6080_3_lut_4_lut.INIT = "0x1fe0";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i308_3_lut (.A(n411_adj_106), 
            .B(n1531[9]), .C(n6322), .Z(n450_adj_110));
    defparam mod_7_i308_3_lut.INIT = "0xacac";
    (* lut_function="(A (C (D)+!C !(D))+!A (B (C (D)+!C !(D))+!B (D)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i283_3_lut_4_lut (.A(n2545), 
            .B(n369), .C(n6930), .D(n371), .Z(n413_adj_108));
    defparam mod_7_i283_3_lut_4_lut.INIT = "0xf10e";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i310_3_lut (.A(n413_adj_108), 
            .B(n1531[7]), .C(n6322), .Z(n452_adj_111));
    defparam mod_7_i310_3_lut.INIT = "0xacac";
    (* lut_function="(A (B (D)+!B (C (D)))+!A (B (D)))" *) LUT4 i3517_2_lut_4_lut (.A(n47_c[4]), 
            .B(n226), .C(n47_c[5]), .D(n225), .Z(n335));
    defparam i3517_2_lut_4_lut.INIT = "0xec00";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i3525_4_lut (.A(n47_c[1]), 
            .B(n453_adj_112), .C(n454_adj_113), .D(n455_adj_114), .Z(n4221));
    defparam i3525_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut_adj_4 (.A(n4221), .B(n452_adj_111), 
            .C(n450_adj_110), .D(n451_adj_109), .Z(n461_adj_115));
    defparam i3_4_lut_adj_4.INIT = "0xfffe";
    (* lut_function="(A (B))" *) LUT4 i3425_2_lut (.A(n47_c[0]), .B(n492_adj_116), 
            .Z(n4121));
    defparam i3425_2_lut.INIT = "0x8888";
    (* lut_function="(!(A (B+(C+!(D)))+!A (B+!(D))))" *) LUT4 i1_2_lut_4_lut_adj_5 (.A(n47_c[4]), 
            .B(n226), .C(n47_c[5]), .D(n225), .Z(n369));
    defparam i1_2_lut_4_lut_adj_5.INIT = "0x1300";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut (.A(n4121), 
            .B(n489), .C(n490), .D(n491), .Z(n6));
    defparam i1_4_lut.INIT = "0xfcec";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut (.A(n488), .B(n486), 
            .C(n487), .D(n6), .Z(n497));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i339_3_lut (.A(n47_c[1]), 
            .B(n1519[3]), .C(n461_adj_115), .Z(n492_adj_116));
    defparam mod_7_i339_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B))" *) LUT4 i3530_2_lut (.A(n283), .B(n492), .Z(n4227));
    defparam i3530_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut_adj_6 (.A(n4227), 
            .B(n489_adj_117), .C(n490_adj_118), .D(n491_adj_119), .Z(n6_adj_120));
    defparam i1_4_lut_adj_6.INIT = "0xfcec";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut_adj_7 (.A(n487_adj_121), 
            .B(n488_adj_122), .C(n486_adj_123), .D(n6_adj_120), .Z(n497_adj_124));
    defparam i4_4_lut_adj_7.INIT = "0xfffe";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i338_3_lut (.A(n455), 
            .B(n1651[4]), .C(n461), .Z(n491_adj_119));
    defparam mod_4_i338_3_lut.INIT = "0xcaca";
    (* lut_function="(A (C (D)+!C !(D))+!A (B (C (D)+!C !(D))+!B (D)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i283_3_lut_4_lut (.A(n2021), 
            .B(n369_adj_125), .C(n2006), .D(n371_adj_126), .Z(n413));
    defparam mod_4_i283_3_lut_4_lut.INIT = "0xf10e";
    (* lut_function="(!(A (C (D)+!C !(D))+!A (B (C (D)+!C !(D))+!B !(D))))", lineinfo="@4(47[11],47[27])" *) LUT4 i6078_3_lut_4_lut (.A(n2021), 
            .B(n369_adj_125), .C(n280), .D(n6278), .Z(n6936));
    defparam i6078_3_lut_4_lut.INIT = "0x1fe0";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i356_3_lut (.A(n486_adj_123), 
            .B(n508_adj_168[9]), .C(n497_adj_124), .Z(n10));
    defparam mod_4_i356_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i363_3_lut (.A(n283), 
            .B(n508_adj_168[2]), .C(n497_adj_124), .Z(n3));
    defparam mod_4_i363_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i357_3_lut (.A(n487_adj_121), 
            .B(n508_adj_168[8]), .C(n497_adj_124), .Z(n9));
    defparam mod_4_i357_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i356_3_lut (.A(n486), 
            .B(n508[9]), .C(n497), .Z(n10_adj_129));
    defparam mod_7_i356_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i363_3_lut (.A(n47_c[0]), 
            .B(n508[2]), .C(n497), .Z(n3_adj_131));
    defparam mod_7_i363_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i357_3_lut (.A(n487), 
            .B(n508[8]), .C(n497), .Z(n9_adj_132));
    defparam mod_7_i357_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A+(B (C+!(D))+!B !(D))))", lineinfo="@4(47[11],47[27])" *) LUT4 i1_2_lut_4_lut_adj_8 (.A(n277), 
            .B(n278), .C(n327), .D(n276), .Z(n369_adj_125));
    defparam i1_2_lut_4_lut_adj_8.INIT = "0x1500";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i362_3_lut (.A(n492_adj_116), 
            .B(n508[3]), .C(n497), .Z(n4_adj_133));
    defparam mod_7_i362_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i362_3_lut (.A(n492), 
            .B(n508_adj_168[3]), .C(n497_adj_124), .Z(n4_adj_135));
    defparam mod_4_i362_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(59[38],59[60])" *) MAC16 mult_7 (.CLK(GND_net), .CE(GND_net), 
            .C15(GND_net), .C14(GND_net), .C13(GND_net), .C12(GND_net), 
            .C11(GND_net), .C10(GND_net), .C9(GND_net), .C8(GND_net), 
            .C7(GND_net), .C6(GND_net), .C5(GND_net), .C4(GND_net), 
            .C3(GND_net), .C2(GND_net), .C1(GND_net), .C0(GND_net), 
            .A15(GND_net), .A14(GND_net), .A13(GND_net), .A12(GND_net), 
            .A11(GND_net), .A10(GND_net), .A9(GND_net), .A8(GND_net), 
            .A7(GND_net), .A6(GND_net), .A5(GND_net), .A4(GND_net), 
            .A3(VCC_net), .A2(GND_net), .A1(VCC_net), .A0(VCC_net), 
            .B15(GND_net), .B14(GND_net), .B13(GND_net), .B12(GND_net), 
            .B11(GND_net), .B10(GND_net), .B9(GND_net), .B8(GND_net), 
            .B7(GND_net), .B6(GND_net), .B5(GND_net), .B4(GND_net), 
            .B3(VCC_net), .B2(GND_net), .B1(GND_net), .B0(VCC_net), 
            .D15(GND_net), .D14(GND_net), .D13(GND_net), .D12(GND_net), 
            .D11(GND_net), .D10(GND_net), .D9(GND_net), .D8(GND_net), 
            .D7(GND_net), .D6(GND_net), .D5(GND_net), .D4(GND_net), 
            .D3(GND_net), .D2(GND_net), .D1(GND_net), .D0(GND_net), 
            .AHOLD(GND_net), .BHOLD(GND_net), .CHOLD(GND_net), .DHOLD(GND_net), 
            .IRSTTOP(GND_net), .IRSTBOT(GND_net), .ORSTTOP(GND_net), .ORSTBOT(GND_net), 
            .OLOADTOP(GND_net), .OLOADBOT(GND_net), .ADDSUBTOP(GND_net), 
            .ADDSUBBOT(GND_net), .OHOLDTOP(GND_net), .OHOLDBOT(GND_net), 
            .CI(GND_net), .ACCUMCI(GND_net), .SIGNEXTIN(GND_net), .O7(n90[9]), 
            .O6(n90[8]), .O5(n90[7]), .O4(n90[6]), .O3(n90[5]), .O2(n90[4]), 
            .O1(n90[3]), .O0(n90[2]));
    defparam mult_7.NEG_TRIGGER = "0b0";
    defparam mult_7.A_REG = "0b0";
    defparam mult_7.B_REG = "0b0";
    defparam mult_7.C_REG = "0b0";
    defparam mult_7.D_REG = "0b0";
    defparam mult_7.TOP_8x8_MULT_REG = "0b0";
    defparam mult_7.BOT_8x8_MULT_REG = "0b0";
    defparam mult_7.PIPELINE_16x16_MULT_REG1 = "0b0";
    defparam mult_7.PIPELINE_16x16_MULT_REG2 = "0b0";
    defparam mult_7.TOPOUTPUT_SELECT = "0b10";
    defparam mult_7.TOPADDSUB_LOWERINPUT = "0b00";
    defparam mult_7.TOPADDSUB_UPPERINPUT = "0b0";
    defparam mult_7.TOPADDSUB_CARRYSELECT = "0b00";
    defparam mult_7.BOTOUTPUT_SELECT = "0b10";
    defparam mult_7.BOTADDSUB_LOWERINPUT = "0b00";
    defparam mult_7.BOTADDSUB_UPPERINPUT = "0b0";
    defparam mult_7.BOTADDSUB_CARRYSELECT = "0b00";
    defparam mult_7.MODE_8x8 = "0b1";
    defparam mult_7.A_SIGNED = "0b0";
    defparam mult_7.B_SIGNED = "0b0";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i4_4_lut_adj_9 (.A(n489_adj_117), 
            .B(n10), .C(n508_adj_168[6]), .D(n497_adj_124), .Z(n12));
    defparam i4_4_lut_adj_9.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i2_4_lut_adj_10 (.A(n488_adj_122), 
            .B(n3), .C(n508_adj_168[7]), .D(n497_adj_124), .Z(n10_adj_137));
    defparam i2_4_lut_adj_10.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i3_4_lut_adj_11 (.A(n491_adj_119), 
            .B(n9), .C(n508_adj_168[4]), .D(n497_adj_124), .Z(n11));
    defparam i3_4_lut_adj_11.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i1_4_lut_adj_12 (.A(n490_adj_118), 
            .B(n4_adj_135), .C(n508_adj_168[5]), .D(n497_adj_124), .Z(n9_adj_138));
    defparam i1_4_lut_adj_12.INIT = "0xfcee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(47[10],47[49])" *) LUT4 i7_4_lut (.A(n9_adj_138), 
            .B(n11), .C(n10_adj_137), .D(n12), .Z(n6286));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i4_4_lut_adj_13 (.A(n489), 
            .B(n10_adj_129), .C(n508[6]), .D(n497), .Z(n12_adj_140));
    defparam i4_4_lut_adj_13.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i2_4_lut_adj_14 (.A(n488), 
            .B(n3_adj_131), .C(n508[7]), .D(n497), .Z(n10_adj_141));
    defparam i2_4_lut_adj_14.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i3_4_lut_adj_15 (.A(n491), 
            .B(n9_adj_132), .C(n508[4]), .D(n497), .Z(n11_adj_143));
    defparam i3_4_lut_adj_15.INIT = "0xfcee";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C (D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i1_4_lut_adj_16 (.A(n490), 
            .B(n4_adj_133), .C(n508[5]), .D(n497), .Z(n9_adj_145));
    defparam i1_4_lut_adj_16.INIT = "0xfcee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(47[55],47[93])" *) LUT4 i7_4_lut_adj_17 (.A(n9_adj_145), 
            .B(n11_adj_143), .C(n10_adj_141), .D(n12_adj_140), .Z(n6289));
    defparam i7_4_lut_adj_17.INIT = "0xfffe";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1055_7 (.A0(GND_net), .B0(n411), 
            .C0(VCC_net), .D0(n5730), .CI0(n5730), .A1(GND_net), .B1(GND_net), 
            .C1(GND_net), .D1(n8280), .CI1(n8280), .CO0(n8280), .S0(n1663[9]));
    defparam add_1055_7.INIT0 = "0xc33c";
    defparam add_1055_7.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))", lineinfo="@4(47[10],47[49])" *) LUT4 i1_3_lut (.A(n6286), 
            .B(column_cnt[0]), .C(column_cnt[1]), .Z(n6288));
    defparam i1_3_lut.INIT = "0xfefe";
    (* lut_function="(!(A ((C+(D))+!B)+!A !(B)))", lineinfo="@4(47[8],47[177])" *) LUT4 i1_4_lut_adj_18 (.A(n6288), 
            .B(n2868), .C(n6289), .D(n4), .Z(n2870));
    defparam i1_4_lut_adj_18.INIT = "0x444c";
    (* lut_function="(A+!((C+(D))+!B))", lineinfo="@4(47[7],47[426])" *) LUT4 i2_4_lut_adj_19 (.A(n2870), 
            .B(column_cnt[1]), .C(column_cnt[0]), .D(n2874), .Z(n6_adj_147));
    defparam i2_4_lut_adj_19.INIT = "0xaaae";
    (* lut_function="(A+(B (C+(D))+!B (C+!(D))))" *) LUT4 i2_4_lut_adj_20 (.A(n6689), 
            .B(column_cnt[0]), .C(column_cnt[8]), .D(column_cnt[1]), .Z(n6690));
    defparam i2_4_lut_adj_20.INIT = "0xfefb";
    (* lut_function="((B+!((D)+!C))+!A)", lineinfo="@4(47[7],47[426])" *) LUT4 i3_4_lut_adj_21 (.A(n6690), 
            .B(n6_adj_147), .C(n4046), .D(n2874), .Z(n6261));
    defparam i3_4_lut_adj_21.INIT = "0xddfd";
    (* lut_function="(!((B (C)+!B (C (D)))+!A))" *) LUT4 i1_4_lut_adj_22 (.A(n6261), 
            .B(n6244), .C(n6675), .D(n4_c), .Z(n4_adj_148));
    defparam i1_4_lut_adj_22.INIT = "0x0a2a";
    (* lut_function="((B+(C+!(D)))+!A)", lineinfo="@4(47[366],47[382])" *) LUT4 i3_4_lut_adj_23 (.A(n6675), 
            .B(n2896), .C(row_cnt[4]), .D(n4_adj_1), .Z(n2881));
    defparam i3_4_lut_adj_23.INIT = "0xfdff";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i2_4_lut_adj_24 (.A(n8), 
            .B(n4_adj_148), .C(n2844), .D(row_cnt[4]), .Z(n6685));
    defparam i2_4_lut_adj_24.INIT = "0xc8c0";
    (* lut_function="(!(A (B+(C (D)+!C !(D)))+!A !(B (C)+!B (C+(D)))))" *) LUT4 i1_4_lut_adj_25 (.A(n2905), 
            .B(n2881), .C(row_cnt[1]), .D(row_cnt[0]), .Z(n2777));
    defparam i1_4_lut_adj_25.INIT = "0x5370";
    (* lut_function="(A (B (D))+!A (B (C+(D))+!B (C)))", lineinfo="@4(47[7],47[426])" *) LUT4 i42_4_lut (.A(row_cnt[9]), 
            .B(n2777), .C(n6685), .D(n2868), .Z(n82));
    defparam i42_4_lut.INIT = "0xdc50";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i1_3_lut_adj_26 (.A(valid), 
            .B(n82), .C(rgb_5__N_87[4]), .Z(rgb_c_3));
    defparam i1_3_lut_adj_26.INIT = "0x0808";
    (* lut_function="(A+(B))", lineinfo="@4(47[366],47[382])" *) LUT4 i1_2_lut (.A(row_cnt[5]), 
            .B(row_cnt[4]), .Z(n4_c));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C)))" *) LUT4 i2_3_lut (.A(column_cnt[3]), .B(column_cnt[4]), 
            .C(column_cnt[2]), .Z(n6673));
    defparam i2_3_lut.INIT = "0x8080";
    (* lut_function="(A (B))" *) LUT4 i3350_2_lut (.A(column_cnt[0]), .B(column_cnt[1]), 
            .Z(n4046));
    defparam i3350_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))", lineinfo="@4(47[184],47[199])" *) LUT4 i2_2_lut (.A(column_cnt[7]), 
            .B(column_cnt[6]), .Z(n6_adj_150));
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(((C+(D))+!B)+!A)" *) LUT4 i1_4_lut_adj_27 (.A(n6673), 
            .B(column_cnt[9]), .C(n6_adj_150), .D(column_cnt[5]), .Z(n6689));
    defparam i1_4_lut_adj_27.INIT = "0xfff7";
    (* lut_function="(A+(B+(C)))", lineinfo="@4(47[184],47[199])" *) LUT4 i2_3_lut_adj_28 (.A(column_cnt[3]), 
            .B(column_cnt[2]), .C(column_cnt[4]), .Z(n13));
    defparam i2_3_lut_adj_28.INIT = "0xfefe";
    (* lut_function="(A+(B))" *) LUT4 i911_2_lut (.A(row_cnt[2]), .B(row_cnt[3]), 
            .Z(n8));
    defparam i911_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i334_3_lut (.A(n451_adj_109), 
            .B(n1519[8]), .C(n461_adj_115), .Z(n487));
    defparam mod_7_i334_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i335_3_lut (.A(n452_adj_111), 
            .B(n1519[7]), .C(n461_adj_115), .Z(n488));
    defparam mod_7_i335_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1055_5 (.A0(GND_net), .B0(n413), 
            .C0(GND_net), .D0(n5728), .CI0(n5728), .A1(GND_net), .B1(n412), 
            .C1(VCC_net), .D1(n8277), .CI1(n8277), .CO0(n8277), .CO1(n5730), 
            .S0(n1663[7]), .S1(n1663[8]));
    defparam add_1055_5.INIT0 = "0xc33c";
    defparam add_1055_5.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i333_3_lut (.A(n450_adj_110), 
            .B(n1519[9]), .C(n461_adj_115), .Z(n486));
    defparam mod_7_i333_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i334_3_lut (.A(n451), 
            .B(n1651[8]), .C(n461), .Z(n487_adj_121));
    defparam mod_4_i334_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i333_3_lut (.A(n450), 
            .B(n1651[9]), .C(n461), .Z(n486_adj_123));
    defparam mod_4_i333_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1055_3 (.A0(GND_net), .B0(n2815), 
            .C0(GND_net), .D0(n5726), .CI0(n5726), .A1(GND_net), .B1(n6936), 
            .C1(VCC_net), .D1(n8268), .CI1(n8268), .CO0(n8268), .CO1(n5728), 
            .S0(n1663[5]), .S1(n1663[6]));
    defparam add_1055_3.INIT0 = "0xc33c";
    defparam add_1055_3.INIT1 = "0xc33c";
    (* lineinfo="@4(59[17],59[25])" *) FA2 add_868_add_5_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n90[9]), .D0(n5681), .CI0(n5681), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n8370), .CI1(n8370), .CO0(n8370), 
            .S0(n47[7]));
    defparam add_868_add_5_9.INIT0 = "0xc33c";
    defparam add_868_add_5_9.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1055_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(n281), .C1(VCC_net), .D1(n8265), 
            .CI1(n8265), .CO0(n8265), .CO1(n5726), .S1(n1663[4]));
    defparam add_1055_1.INIT0 = "0xc33c";
    defparam add_1055_1.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1054_7 (.A0(GND_net), .B0(n451), 
            .C0(VCC_net), .D0(n5722), .CI0(n5722), .A1(GND_net), .B1(n450), 
            .C1(VCC_net), .D1(n8292), .CI1(n8292), .CO0(n8292), .S0(n1651[8]), 
            .S1(n1651[9]));
    defparam add_1054_7.INIT0 = "0xc33c";
    defparam add_1054_7.INIT1 = "0xc33c";
    (* lineinfo="@4(59[17],59[25])" *) FA2 add_868_add_5_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n90[7]), .D0(n5679), .CI0(n5679), .A1(GND_net), 
            .B1(GND_net), .C1(n90[8]), .D1(n8367), .CI1(n8367), .CO0(n8367), 
            .CO1(n5681), .S0(n47[5]), .S1(n47[6]));
    defparam add_868_add_5_7.INIT0 = "0xc33c";
    defparam add_868_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1054_5 (.A0(GND_net), .B0(n453), 
            .C0(GND_net), .D0(n5720), .CI0(n5720), .A1(GND_net), .B1(n452), 
            .C1(VCC_net), .D1(n8289), .CI1(n8289), .CO0(n8289), .CO1(n5722), 
            .S0(n1651[6]), .S1(n1651[7]));
    defparam add_1054_5.INIT0 = "0xc33c";
    defparam add_1054_5.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1054_3 (.A0(GND_net), .B0(n455), 
            .C0(GND_net), .D0(n5718), .CI0(n5718), .A1(GND_net), .B1(n454), 
            .C1(VCC_net), .D1(n8274), .CI1(n8274), .CO0(n8274), .CO1(n5720), 
            .S0(n1651[4]), .S1(n1651[5]));
    defparam add_1054_3.INIT0 = "0xc33c";
    defparam add_1054_3.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@4(47[56],47[71])" *) LUT4 i1860_2_lut (.A(n370), 
            .B(n16), .Z(n2545));
    defparam i1860_2_lut.INIT = "0x8888";
    (* lineinfo="@4(59[17],59[25])" *) FA2 add_868_add_5_5 (.A0(GND_net), 
            .B0(VCC_net), .C0(n90[5]), .D0(n5677), .CI0(n5677), .A1(GND_net), 
            .B1(VCC_net), .C1(n90[6]), .D1(n8364), .CI1(n8364), .CO0(n8364), 
            .CO1(n5679), .S0(n47[3]), .S1(n47[4]));
    defparam add_868_add_5_5.INIT0 = "0xc33c";
    defparam add_868_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1044_7 (.A0(GND_net), .B0(n411_adj_106), 
            .C0(VCC_net), .D0(n5661), .CI0(n5661), .A1(GND_net), .B1(GND_net), 
            .C1(GND_net), .D1(n8334), .CI1(n8334), .CO0(n8334), .S0(n1531[9]));
    defparam add_1044_7.INIT0 = "0xc33c";
    defparam add_1044_7.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 add_1054_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(n282), .C1(VCC_net), .D1(n8271), 
            .CI1(n8271), .CO0(n8271), .CO1(n5718), .S1(n1651[3]));
    defparam add_1054_1.INIT0 = "0xc33c";
    defparam add_1054_1.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_3 (.A0(GND_net), 
            .B0(n492_adj_116), .C0(GND_net), .D0(n5631), .CI0(n5631), 
            .A1(GND_net), .B1(n491), .C1(VCC_net), .D1(n8340), .CI1(n8340), 
            .CO0(n8340), .CO1(n5633), .S0(n508[3]), .S1(n508[4]));
    defparam mod_7_add_354_3.INIT0 = "0xc33c";
    defparam mod_7_add_354_3.INIT1 = "0xc33c";
    (* lineinfo="@4(59[17],59[25])" *) FA2 add_868_add_5_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n90[3]), .D0(n5675), .CI0(n5675), .A1(GND_net), 
            .B1(GND_net), .C1(n90[4]), .D1(n8361), .CI1(n8361), .CO0(n8361), 
            .CO1(n5677), .S0(n47[1]), .S1(n47[2]));
    defparam add_868_add_5_3.INIT0 = "0xc33c";
    defparam add_868_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_9 (.A0(GND_net), 
            .B0(n486_adj_123), .C0(VCC_net), .D0(n5715), .CI0(n5715), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n8301), .CI1(n8301), 
            .CO0(n8301), .S0(n508_adj_168[9]));
    defparam mod_4_add_354_9.INIT0 = "0xc33c";
    defparam mod_4_add_354_9.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1043_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(n47_c[1]), .C1(VCC_net), 
            .D1(n8325), .CI1(n8325), .CO0(n8325), .CO1(n5649), .S1(n1519[3]));
    defparam add_1043_1.INIT0 = "0xc33c";
    defparam add_1043_1.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1044_5 (.A0(GND_net), .B0(n413_adj_108), 
            .C0(GND_net), .D0(n5659), .CI0(n5659), .A1(GND_net), .B1(n412_adj_107), 
            .C1(VCC_net), .D1(n8331), .CI1(n8331), .CO0(n8331), .CO1(n5661), 
            .S0(n1531[7]), .S1(n1531[8]));
    defparam add_1044_5.INIT0 = "0xc33c";
    defparam add_1044_5.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_7 (.A0(GND_net), 
            .B0(n488_adj_122), .C0(VCC_net), .D0(n5713), .CI0(n5713), 
            .A1(GND_net), .B1(n487_adj_121), .C1(VCC_net), .D1(n8298), 
            .CI1(n8298), .CO0(n8298), .CO1(n5715), .S0(n508_adj_168[7]), 
            .S1(n508_adj_168[8]));
    defparam mod_4_add_354_7.INIT0 = "0xc33c";
    defparam mod_4_add_354_7.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_5 (.A0(GND_net), 
            .B0(n490_adj_118), .C0(GND_net), .D0(n5711), .CI0(n5711), 
            .A1(GND_net), .B1(n489_adj_117), .C1(VCC_net), .D1(n8295), 
            .CI1(n8295), .CO0(n8295), .CO1(n5713), .S0(n508_adj_168[5]), 
            .S1(n508_adj_168[6]));
    defparam mod_4_add_354_5.INIT0 = "0xc33c";
    defparam mod_4_add_354_5.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1044_3 (.A0(GND_net), .B0(n2809), 
            .C0(GND_net), .D0(n5657), .CI0(n5657), .A1(GND_net), .B1(n6928), 
            .C1(VCC_net), .D1(n8322), .CI1(n8322), .CO0(n8322), .CO1(n5659), 
            .S0(n1531[5]), .S1(n1531[6]));
    defparam add_1044_3.INIT0 = "0xc33c";
    defparam add_1044_3.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_9 (.A0(GND_net), 
            .B0(column_cnt[9]), .C0(VCC_net), .D0(n5646), .CI0(n5646), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n8262), .CI1(n8262), 
            .CO0(n8262), .S0(n276));
    defparam sub_969_add_2_add_5_9.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_9.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@4(43[3],80[10])" *) LUT4 i3486_2_lut (.A(rgb_5__N_87[4]), 
            .B(valid), .Z(rgb_c_4));
    defparam i3486_2_lut.INIT = "0x8888";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_3 (.A0(GND_net), 
            .B0(n492), .C0(GND_net), .D0(n5709), .CI0(n5709), .A1(GND_net), 
            .B1(n491_adj_119), .C1(VCC_net), .D1(n8286), .CI1(n8286), 
            .CO0(n8286), .CO1(n5711), .S0(n508_adj_168[3]), .S1(n508_adj_168[4]));
    defparam mod_4_add_354_3.INIT0 = "0xc33c";
    defparam mod_4_add_354_3.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_9 (.A0(GND_net), 
            .B0(row_cnt[9]), .C0(VCC_net), .D0(n5769), .CI0(n5769), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n8316), .CI1(n8316), 
            .CO0(n8316), .S0(n225));
    defparam sub_971_add_2_add_5_9.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_9.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_7 (.A0(GND_net), 
            .B0(column_cnt[7]), .C0(VCC_net), .D0(n5644), .CI0(n5644), 
            .A1(GND_net), .B1(column_cnt[8]), .C1(VCC_net), .D1(n8259), 
            .CI1(n8259), .CO0(n8259), .CO1(n5646), .S0(n278), .S1(n277));
    defparam sub_969_add_2_add_5_7.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_5 (.A0(GND_net), 
            .B0(n490), .C0(GND_net), .D0(n5633), .CI0(n5633), .A1(GND_net), 
            .B1(n489), .C1(VCC_net), .D1(n8349), .CI1(n8349), .CO0(n8349), 
            .CO1(n5635), .S0(n508[5]), .S1(n508[6]));
    defparam mod_7_add_354_5.INIT0 = "0xc33c";
    defparam mod_7_add_354_5.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_7 (.A0(GND_net), 
            .B0(row_cnt[7]), .C0(VCC_net), .D0(n5767), .CI0(n5767), 
            .A1(GND_net), .B1(row_cnt[8]), .C1(VCC_net), .D1(n8313), 
            .CI1(n8313), .CO0(n8313), .CO1(n5769), .S0(n47_c[5]), .S1(n226));
    defparam sub_971_add_2_add_5_7.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(n47_c[0]), 
            .C1(VCC_net), .D1(n8337), .CI1(n8337), .CO0(n8337), .CO1(n5631), 
            .S1(n508[2]));
    defparam mod_7_add_354_1.INIT0 = "0xc33c";
    defparam mod_7_add_354_1.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_5 (.A0(GND_net), 
            .B0(column_cnt[5]), .C0(GND_net), .D0(n5642), .CI0(n5642), 
            .A1(GND_net), .B1(column_cnt[6]), .C1(GND_net), .D1(n8256), 
            .CI1(n8256), .CO0(n8256), .CO1(n5644), .S0(n280), .S1(n327));
    defparam sub_969_add_2_add_5_5.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_5 (.A0(GND_net), 
            .B0(row_cnt[5]), .C0(VCC_net), .D0(n5765), .CI0(n5765), 
            .A1(GND_net), .B1(row_cnt[6]), .C1(VCC_net), .D1(n8310), 
            .CI1(n8310), .CO0(n8310), .CO1(n5767), .S0(n47_c[3]), .S1(n47_c[4]));
    defparam sub_971_add_2_add_5_5.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@4(47[11],47[27])" *) FA2 mod_4_add_354_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(n283), .C1(VCC_net), 
            .D1(n8283), .CI1(n8283), .CO0(n8283), .CO1(n5709), .S1(n508_adj_168[2]));
    defparam mod_4_add_354_1.INIT0 = "0xc33c";
    defparam mod_4_add_354_1.INIT1 = "0xc33c";
    (* lineinfo="@4(59[17],59[25])" *) FA2 add_868_add_5_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n90[2]), .D1(n8358), .CI1(n8358), .CO0(n8358), .CO1(n5675), 
            .S1(n47[0]));
    defparam add_868_add_5_1.INIT0 = "0xc33c";
    defparam add_868_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1044_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(n47_c[2]), .C1(VCC_net), 
            .D1(n8319), .CI1(n8319), .CO0(n8319), .CO1(n5657), .S1(n1531[4]));
    defparam add_1044_1.INIT0 = "0xc33c";
    defparam add_1044_1.INIT1 = "0xc33c";
    (* lineinfo="@4(59[142],59[149])" *) FA2 add_841_7 (.A0(GND_net), .B0(GND_net), 
            .C0(n146[7]), .D0(n5706), .CI0(n5706), .A1(GND_net), .B1(GND_net), 
            .C1(n146[8]), .D1(n8394), .CI1(n8394), .CO0(n8394), .CO1(n1135), 
            .S0(n1127), .S1(n1126));
    defparam add_841_7.INIT0 = "0xc33c";
    defparam add_841_7.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_3 (.A0(GND_net), 
            .B0(row_cnt[3]), .C0(VCC_net), .D0(n5763), .CI0(n5763), 
            .A1(GND_net), .B1(row_cnt[4]), .C1(GND_net), .D1(n8307), 
            .CI1(n8307), .CO0(n8307), .CO1(n5765), .S0(n47_c[1]), .S1(n47_c[2]));
    defparam sub_971_add_2_add_5_3.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@4(59[142],59[149])" *) FA2 add_841_5 (.A0(GND_net), .B0(GND_net), 
            .C0(n146[5]), .D0(n5704), .CI0(n5704), .A1(GND_net), .B1(GND_net), 
            .C1(n146[6]), .D1(n8391), .CI1(n8391), .CO0(n8391), .CO1(n5706), 
            .S0(n1129), .S1(n1128));
    defparam add_841_5.INIT0 = "0xc33c";
    defparam add_841_5.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_971_add_2_add_5_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(row_cnt[2]), 
            .C1(VCC_net), .D1(n8304), .CI1(n8304), .CO0(n8304), .CO1(n5763), 
            .S1(n47_c[0]));
    defparam sub_971_add_2_add_5_1.INIT0 = "0xc33c";
    defparam sub_971_add_2_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@4(59[142],59[149])" *) FA2 add_841_3 (.A0(GND_net), .B0(GND_net), 
            .C0(n146[3]), .D0(n5702), .CI0(n5702), .A1(GND_net), .B1(VCC_net), 
            .C1(n146[4]), .D1(n8388), .CI1(n8388), .CO0(n8388), .CO1(n5704), 
            .S0(n1131), .S1(n1130));
    defparam add_841_3.INIT0 = "0xc33c";
    defparam add_841_3.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1043_7 (.A0(GND_net), .B0(n451_adj_109), 
            .C0(VCC_net), .D0(n5653), .CI0(n5653), .A1(GND_net), .B1(n450_adj_110), 
            .C1(VCC_net), .D1(n8346), .CI1(n8346), .CO0(n8346), .S0(n1519[8]), 
            .S1(n1519[9]));
    defparam add_1043_7.INIT0 = "0xc33c";
    defparam add_1043_7.INIT1 = "0xc33c";
    (* lineinfo="@4(59[142],59[149])" *) FA2 add_841_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(VCC_net), .C1(n146[2]), 
            .D1(n8385), .CI1(n8385), .CO0(n8385), .CO1(n5702), .S1(n1132));
    defparam add_841_1.INIT0 = "0xc33c";
    defparam add_841_1.INIT1 = "0xc33c";
    (* lineinfo="@4(59[75],59[92])" *) FA2 add_867_add_5_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n90[9]), .D0(n5760), .CI0(n5760), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n8409), .CI1(n8409), .CO0(n8409), 
            .S0(n47_adj_10[7]));
    defparam add_867_add_5_9.INIT0 = "0xc33c";
    defparam add_867_add_5_9.INIT1 = "0xc33c";
    (* lineinfo="@4(59[75],59[92])" *) FA2 add_867_add_5_7 (.A0(GND_net), 
            .B0(VCC_net), .C0(n90[7]), .D0(n5758), .CI0(n5758), .A1(GND_net), 
            .B1(GND_net), .C1(n90[8]), .D1(n8406), .CI1(n8406), .CO0(n8406), 
            .CO1(n5760), .S0(n47_adj_10[5]), .S1(n47_adj_10[6]));
    defparam add_867_add_5_7.INIT0 = "0xc33c";
    defparam add_867_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@4(59[75],59[92])" *) FA2 add_867_add_5_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n90[5]), .D0(n5756), .CI0(n5756), .A1(GND_net), 
            .B1(GND_net), .C1(n90[6]), .D1(n8403), .CI1(n8403), .CO0(n8403), 
            .CO1(n5758), .S0(n47_adj_10[3]), .S1(n47_adj_10[4]));
    defparam add_867_add_5_5.INIT0 = "0xc33c";
    defparam add_867_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@4(59[75],59[92])" *) FA2 add_867_add_5_3 (.A0(GND_net), 
            .B0(VCC_net), .C0(n90[3]), .D0(n5754), .CI0(n5754), .A1(GND_net), 
            .B1(GND_net), .C1(n90[4]), .D1(n8400), .CI1(n8400), .CO0(n8400), 
            .CO1(n5756), .S0(n47_adj_10[1]), .S1(n47_adj_10[2]));
    defparam add_867_add_5_3.INIT0 = "0xc33c";
    defparam add_867_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@4(59[75],59[92])" *) FA2 add_867_add_5_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n90[2]), .D1(n8397), .CI1(n8397), .CO0(n8397), .CO1(n5754), 
            .S1(n47_adj_10[0]));
    defparam add_867_add_5_1.INIT0 = "0xc33c";
    defparam add_867_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@4(59[199],59[216])" *) FA2 add_842_7 (.A0(GND_net), .B0(GND_net), 
            .C0(n146[7]), .D0(n5699), .CI0(n5699), .A1(GND_net), .B1(GND_net), 
            .C1(n146[8]), .D1(n8382), .CI1(n8382), .CO0(n8382), .CO1(n1146), 
            .S0(n1138), .S1(n1137));
    defparam add_842_7.INIT0 = "0xc33c";
    defparam add_842_7.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1043_5 (.A0(GND_net), .B0(n453_adj_112), 
            .C0(GND_net), .D0(n5651), .CI0(n5651), .A1(GND_net), .B1(n452_adj_111), 
            .C1(VCC_net), .D1(n8343), .CI1(n8343), .CO0(n8343), .CO1(n5653), 
            .S0(n1519[6]), .S1(n1519[7]));
    defparam add_1043_5.INIT0 = "0xc33c";
    defparam add_1043_5.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_3 (.A0(GND_net), 
            .B0(column_cnt[3]), .C0(VCC_net), .D0(n5640), .CI0(n5640), 
            .A1(GND_net), .B1(column_cnt[4]), .C1(VCC_net), .D1(n8253), 
            .CI1(n8253), .CO0(n8253), .CO1(n5642), .S0(n282), .S1(n281));
    defparam sub_969_add_2_add_5_3.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@2(82[30],82[41])" *) FA2 sub_969_add_2_add_5_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(column_cnt[2]), 
            .C1(VCC_net), .D1(n8250), .CI1(n8250), .CO0(n8250), .CO1(n5640), 
            .S1(n283));
    defparam sub_969_add_2_add_5_1.INIT0 = "0xc33c";
    defparam sub_969_add_2_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@4(59[199],59[216])" *) FA2 add_842_5 (.A0(GND_net), .B0(VCC_net), 
            .C0(n146[5]), .D0(n5697), .CI0(n5697), .A1(GND_net), .B1(GND_net), 
            .C1(n146[6]), .D1(n8379), .CI1(n8379), .CO0(n8379), .CO1(n5699), 
            .S0(n1140), .S1(n1139));
    defparam add_842_5.INIT0 = "0xc33c";
    defparam add_842_5.INIT1 = "0xc33c";
    (* lineinfo="@4(59[199],59[216])" *) FA2 add_842_3 (.A0(GND_net), .B0(VCC_net), 
            .C0(n146[3]), .D0(n5695), .CI0(n5695), .A1(GND_net), .B1(VCC_net), 
            .C1(n146[4]), .D1(n8376), .CI1(n8376), .CO0(n8376), .CO1(n5697), 
            .S0(n1142), .S1(n1141));
    defparam add_842_3.INIT0 = "0xc33c";
    defparam add_842_3.INIT1 = "0xc33c";
    (* lineinfo="@4(59[199],59[216])" *) FA2 add_842_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(VCC_net), .C1(n146[2]), 
            .D1(n8373), .CI1(n8373), .CO0(n8373), .CO1(n5695), .S1(n1143));
    defparam add_842_1.INIT0 = "0xc33c";
    defparam add_842_1.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 add_1043_3 (.A0(GND_net), .B0(n455_adj_114), 
            .C0(GND_net), .D0(n5649), .CI0(n5649), .A1(GND_net), .B1(n454_adj_113), 
            .C1(VCC_net), .D1(n8328), .CI1(n8328), .CO0(n8328), .CO1(n5651), 
            .S0(n1519[4]), .S1(n1519[5]));
    defparam add_1043_3.INIT0 = "0xc33c";
    defparam add_1043_3.INIT1 = "0xc33c";
    (* lineinfo="@4(47[56],47[71])" *) FA2 mod_7_add_354_9 (.A0(GND_net), 
            .B0(n486), .C0(VCC_net), .D0(n5637), .CI0(n5637), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n8355), .CI1(n8355), .CO0(n8355), 
            .S0(n508[9]));
    defparam mod_7_add_354_9.INIT0 = "0xc33c";
    defparam mod_7_add_354_9.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))", lineinfo="@4(59[8],59[252])" *) LUT4 i3_4_lut_adj_29 (.A(n1162), 
            .B(n1170), .C(n1168), .D(n1165), .Z(rgb_5__N_87[4]));
    defparam i3_4_lut_adj_29.INIT = "0x8000";
    (* lut_function="(A+(B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 i1332_2_lut_3_lut (.A(n371_adj_126), 
            .B(n6278), .C(n280), .Z(n16_adj_165));
    defparam i1332_2_lut_3_lut.INIT = "0xeaea";
    (* lut_function="((B+(C+(D)))+!A)" *) LUT4 i2_4_lut_adj_30 (.A(n2871), 
            .B(n13), .C(column_cnt[9]), .D(n2877), .Z(n2874));
    defparam i2_4_lut_adj_30.INIT = "0xfffd";
    (* lut_function="(A+(B))", lineinfo="@4(47[184],47[199])" *) LUT4 i1_2_lut_adj_31 (.A(column_cnt[8]), 
            .B(column_cnt[7]), .Z(n2877));
    defparam i1_2_lut_adj_31.INIT = "0xeeee";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut_adj_32 (.A(column_cnt[0]), 
            .B(n2877), .C(n6673), .D(column_cnt[1]), .Z(n4_adj_166));
    defparam i1_4_lut_adj_32.INIT = "0xfcec";
    (* lut_function="(A (B+(C+(D)))+!A (B+(D)))" *) LUT4 i1_4_lut_adj_33 (.A(n13), 
            .B(column_cnt[9]), .C(n2871), .D(n2877), .Z(n51));
    defparam i1_4_lut_adj_33.INIT = "0xffec";
    (* lut_function="(!(A ((C)+!B)+!A ((C (D))+!B)))", lineinfo="@4(47[307],47[425])" *) LUT4 i1_4_lut_adj_34 (.A(n2668), 
            .B(n51), .C(column_cnt[9]), .D(n4_adj_166), .Z(n2868));
    defparam i1_4_lut_adj_34.INIT = "0x0c4c";
    (* lut_function="(!(A (B (D))+!A !(B (C (D)))))" *) LUT4 i6077_3_lut_4_lut (.A(n278), 
            .B(n327), .C(n277), .D(n276), .Z(n371_adj_126));
    defparam i6077_3_lut_4_lut.INIT = "0x62aa";
    (* lut_function="(A (B+(C (D))))", lineinfo="@4(47[11],47[27])" *) LUT4 i1337_2_lut_3_lut_4_lut (.A(n370_adj_167), 
            .B(n371_adj_126), .C(n6278), .D(n280), .Z(n2021));
    defparam i1337_2_lut_3_lut_4_lut.INIT = "0xa888";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i312_3_lut (.A(n2809), 
            .B(n1531[5]), .C(n6322), .Z(n454_adj_113));
    defparam mod_7_i312_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i337_3_lut (.A(n454_adj_113), 
            .B(n1519[5]), .C(n461_adj_115), .Z(n490));
    defparam mod_7_i337_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i313_3_lut (.A(n47_c[2]), 
            .B(n1531[4]), .C(n6322), .Z(n455_adj_114));
    defparam mod_7_i313_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i338_3_lut (.A(n455_adj_114), 
            .B(n1519[4]), .C(n461_adj_115), .Z(n491));
    defparam mod_7_i338_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut_adj_35 (.A(n47_c[4]), 
            .B(n335), .Z(n6282));
    defparam i1_2_lut_adj_35.INIT = "0x6666";
    (* lut_function="(!(A (B (C))+!A !(B (C+(D))+!B (C (D)))))", lineinfo="@4(47[56],47[71])" *) LUT4 i1855_2_lut_4_lut (.A(n47_c[5]), 
            .B(n47_c[4]), .C(n335), .D(n47_c[3]), .Z(n16));
    defparam i1855_2_lut_4_lut.INIT = "0x7e6a";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i311_3_lut (.A(n6928), 
            .B(n1531[6]), .C(n6322), .Z(n453_adj_112));
    defparam mod_7_i311_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i336_3_lut (.A(n453_adj_112), 
            .B(n1519[6]), .C(n461_adj_115), .Z(n489));
    defparam mod_7_i336_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i335_3_lut (.A(n452), 
            .B(n1651[7]), .C(n461), .Z(n488_adj_122));
    defparam mod_4_i335_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i337_3_lut (.A(n454), 
            .B(n1651[5]), .C(n461), .Z(n490_adj_118));
    defparam mod_4_i337_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i336_3_lut (.A(n453), 
            .B(n1651[6]), .C(n461), .Z(n489_adj_117));
    defparam mod_4_i336_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B))", lineinfo="@4(47[11],47[27])" *) LUT4 i1322_2_lut (.A(n6278), 
            .B(n280), .Z(n2006));
    defparam i1322_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C+!(D))+!B !(D)))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i253_4_lut (.A(n277), 
            .B(n278), .C(n327), .D(n276), .Z(n370_adj_167));
    defparam mod_4_i253_4_lut.INIT = "0x80aa";
    (* lut_function="(A (B (C+!(D))+!B !(D)))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i253_4_lut (.A(n226), 
            .B(n47_c[4]), .C(n47_c[5]), .D(n225), .Z(n370));
    defparam mod_7_i253_4_lut.INIT = "0x80aa";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@4(47[327],47[342])" *) LUT4 i2_3_lut_4_lut (.A(row_cnt[2]), 
            .B(row_cnt[3]), .C(n2844), .D(row_cnt[4]), .Z(n2905));
    defparam i2_3_lut_4_lut.INIT = "0xfeff";
    (* lut_function="(!(A (B)+!A !(B (C))))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i282_3_lut_4_lut_3_lut (.A(n370_adj_167), 
            .B(n16_adj_165), .C(n369_adj_125), .Z(n412));
    defparam mod_4_i282_3_lut_4_lut_3_lut.INIT = "0x6262";
    (* lut_function="(A (B (C)))", lineinfo="@4(47[11],47[27])" *) LUT4 i5896_3_lut_2_lut_3_lut (.A(n370_adj_167), 
            .B(n16_adj_165), .C(n369_adj_125), .Z(n411));
    defparam i5896_3_lut_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A (B (D)+!B (C (D)+!C !(D)))+!A (C (D)+!C !(D))))", lineinfo="@4(47[11],47[27])" *) LUT4 i1_2_lut_3_lut_4_lut (.A(n370_adj_167), 
            .B(n16_adj_165), .C(n369_adj_125), .D(n280), .Z(n2815));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0x07f8";
    (* lut_function="(A (B (C)))", lineinfo="@4(47[56],47[71])" *) LUT4 i5898_3_lut_2_lut_3_lut (.A(n370), 
            .B(n16), .C(n369), .Z(n411_adj_106));
    defparam i5898_3_lut_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A (B (D)+!B (C (D)+!C !(D)))+!A (C (D)+!C !(D))))", lineinfo="@4(47[56],47[71])" *) LUT4 i1_2_lut_3_lut_4_lut_adj_36 (.A(n370), 
            .B(n16), .C(n369), .D(n47_c[3]), .Z(n2809));
    defparam i1_2_lut_3_lut_4_lut_adj_36.INIT = "0x07f8";
    (* lut_function="(!(A (B)+!A !(B (C))))", lineinfo="@4(47[56],47[71])" *) LUT4 mod_7_i282_3_lut_4_lut_3_lut (.A(n370), 
            .B(n16), .C(n369), .Z(n412_adj_107));
    defparam mod_7_i282_3_lut_4_lut_3_lut.INIT = "0x6262";
    (* lut_function="(!((B (C)+!B !(C))+!A))" *) LUT4 i5858_2_lut_3_lut (.A(n47_c[3]), 
            .B(n47_c[4]), .C(n335), .Z(n6930));
    defparam i5858_2_lut_3_lut.INIT = "0x2828";
    (* lut_function="(!(A (B (D)+!B (C (D)))+!A !(B (D))))" *) LUT4 i1_2_lut_4_lut_adj_37 (.A(n327), 
            .B(n277), .C(n278), .D(n276), .Z(n6278));
    defparam i1_2_lut_4_lut_adj_37.INIT = "0x46aa";
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !((D)+!C))", lineinfo="@4(47[11],47[27])" *) LUT4 mod_4_i308_3_lut_4_lut (.A(n2021), 
            .B(n369_adj_125), .C(n1663[9]), .D(n6315), .Z(n450));
    defparam mod_4_i308_3_lut_4_lut.INIT = "0x88f0";
    VHI i1 (.Z(VCC_net));
    
endmodule
