// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 3.2.1.217.3
// Netlist written on Sun Dec  4 17:50:33 2022
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/board.vhd"
// file 1 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/display.vhd"
// file 2 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/nes.vhd"
// file 3 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/pattern_gen.vhd"
// file 4 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/randompos.vhd"
// file 5 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/snakepos.vhd"
// file 6 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/topmodule.vhd"
// file 7 "c:/users/gsess/onedrive/documents/es4_final_proj/es4_snake/source/impl_1/vga.vhd"
// file 8 "c:/lscc/radiant/3.2/ip/pmi/pmi_ice40up.v"
// file 9 "c:/lscc/radiant/3.2/ip/pmi/pmi_ice40up.vhd"
// file 10 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 11 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 12 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 13 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 14 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 15 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 16 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 17 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 18 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 19 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 20 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 21 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 22 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 23 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 24 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 25 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 26 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 27 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 28 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 29 "c:/lscc/radiant/3.2/ip/avant/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/3.2/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/3.2/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 32 "c:/lscc/radiant/3.2/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 33 "c:/lscc/radiant/3.2/ip/avant/rom/rtl/lscc_rom.v"
// file 34 "c:/lscc/radiant/3.2/ip/common/adder/rtl/lscc_adder.v"
// file 35 "c:/lscc/radiant/3.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 36 "c:/lscc/radiant/3.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 37 "c:/lscc/radiant/3.2/ip/common/counter/rtl/lscc_cntr.v"
// file 38 "c:/lscc/radiant/3.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 39 "c:/lscc/radiant/3.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 40 "c:/lscc/radiant/3.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 41 "c:/lscc/radiant/3.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 42 "c:/lscc/radiant/3.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 43 "c:/lscc/radiant/3.2/ip/pmi/pmi_add.v"
// file 44 "c:/lscc/radiant/3.2/ip/pmi/pmi_addsub.v"
// file 45 "c:/lscc/radiant/3.2/ip/pmi/pmi_complex_mult.v"
// file 46 "c:/lscc/radiant/3.2/ip/pmi/pmi_counter.v"
// file 47 "c:/lscc/radiant/3.2/ip/pmi/pmi_dsp.v"
// file 48 "c:/lscc/radiant/3.2/ip/pmi/pmi_fifo.v"
// file 49 "c:/lscc/radiant/3.2/ip/pmi/pmi_fifo_dc.v"
// file 50 "c:/lscc/radiant/3.2/ip/pmi/pmi_mac.v"
// file 51 "c:/lscc/radiant/3.2/ip/pmi/pmi_mult.v"
// file 52 "c:/lscc/radiant/3.2/ip/pmi/pmi_multaddsub.v"
// file 53 "c:/lscc/radiant/3.2/ip/pmi/pmi_multaddsubsum.v"
// file 54 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dp.v"
// file 55 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dp_be.v"
// file 56 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dq.v"
// file 57 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dq_be.v"
// file 58 "c:/lscc/radiant/3.2/ip/pmi/pmi_rom.v"
// file 59 "c:/lscc/radiant/3.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input data, output latch, output continCLK, input pll_in_clock, 
            output HSYNC, output VSYNC, output [5:0]rgb, output pll_outcore_o);
    
    (* is_clock=1, lineinfo="@6(59[12],59[15])" *) wire CLK;
    
    wire latch_c, continCLK_c, GND_net, VCC_net;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@6(10[9],10[18])" *) OB continCLK_pad (.I(continCLK_c), .O(continCLK));
    (* lineinfo="@6(9[9],9[14])" *) OB latch_pad (.I(latch_c), .O(latch));
    (* lineinfo="@6(67[19],67[22])" *) NES NES_instance (GND_net, latch_c, 
            continCLK_c, CLK);
    (* syn_instantiated=1 *) HSOSC_CORE HSOSC_instance (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), 
            .TRIM6(GND_net), .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), 
            .TRIM2(GND_net), .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(CLK));
    defparam HSOSC_instance.CLKHF_DIV = "0b00";
    defparam HSOSC_instance.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@6(15[9],15[14])" *) OB HSYNC_pad (.I(GND_net), .O(HSYNC));
    (* lineinfo="@6(16[9],16[14])" *) OB VSYNC_pad (.I(GND_net), .O(VSYNC));
    (* lineinfo="@6(18[9],18[12])" *) OB \rgb_pad[5]  (.I(GND_net), .O(rgb[5]));
    (* lineinfo="@6(18[9],18[12])" *) OB \rgb_pad[4]  (.I(GND_net), .O(rgb[4]));
    (* lineinfo="@6(18[9],18[12])" *) OB \rgb_pad[3]  (.I(GND_net), .O(rgb[3]));
    (* lineinfo="@6(18[9],18[12])" *) OB \rgb_pad[2]  (.I(GND_net), .O(rgb[2]));
    (* lineinfo="@6(18[9],18[12])" *) OB \rgb_pad[1]  (.I(GND_net), .O(rgb[1]));
    (* lineinfo="@6(18[9],18[12])" *) OB \rgb_pad[0]  (.I(GND_net), .O(rgb[0]));
    (* lineinfo="@6(20[9],20[22])" *) OB pll_outcore_o_pad (.I(GND_net), .O(pll_outcore_o));
    VHI i401 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module NES
//

module NES (input GND_net, output latch_c, output continCLK_c, input CLK);
    
    (* is_clock=1, lineinfo="@6(59[12],59[15])" *) wire CLK;
    
    wire n212, n536;
    (* lineinfo="@2(27[8],27[16])" *) wire [11:0]NEScount;
    
    wire n214;
    wire [19:0]n85;
    
    wire n287, n16, n17, n202, n521, n15, n14, n204, n200, 
        n518, n17_adj_36, n16_adj_37, n336, n340, NESclk, n210, 
        n533, n208, n530, n198, n515, n19, n18, n512, VCC_net, 
        n20, n206, n527, n524, n216, n542, n539, GND_net_c;
    
    FA2 count_21_23_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(NEScount[7]), 
        .D0(n212), .CI0(n212), .A1(GND_net), .B1(GND_net), .C1(NEScount[8]), 
        .D1(n536), .CI1(n536), .CO0(n536), .CO1(n214), .S0(n85[15]), 
        .S1(n85[16]));
    defparam count_21_23_add_4_17.INIT0 = "0xc33c";
    defparam count_21_23_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(!(((C+!(D))+!B)+!A))" *) LUT4 i6_4_lut (.A(NEScount[3]), 
            .B(NEScount[4]), .C(n287), .D(NEScount[1]), .Z(n16));
    defparam i6_4_lut.INIT = "0x0800";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i7_4_lut (.A(NEScount[5]), 
            .B(NEScount[6]), .C(NEScount[7]), .D(NEScount[10]), .Z(n17));
    defparam i7_4_lut.INIT = "0x0080";
    FA2 count_21_23_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n15), .D0(n202), 
        .CI0(n202), .A1(GND_net), .B1(GND_net), .C1(n14), .D1(n521), 
        .CI1(n521), .CO0(n521), .CO1(n204), .S0(n85[5]), .S1(n85[6]));
    defparam count_21_23_add_4_7.INIT0 = "0xc33c";
    defparam count_21_23_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))" *) LUT4 i9_4_lut (.A(n17), .B(NEScount[0]), 
            .C(n16), .D(NEScount[2]), .Z(latch_c));
    defparam i9_4_lut.INIT = "0x8000";
    FA2 count_21_23_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n17_adj_36), 
        .D0(n200), .CI0(n200), .A1(GND_net), .B1(GND_net), .C1(n16_adj_37), 
        .D1(n518), .CI1(n518), .CO0(n518), .CO1(n202), .S0(n85[3]), 
        .S1(n85[4]));
    defparam count_21_23_add_4_5.INIT0 = "0xc33c";
    defparam count_21_23_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(NEScount[9]), .B(NEScount[11]), 
            .C(NEScount[8]), .Z(n287));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B))" *) LUT4 i260_2_lut (.A(NEScount[5]), .B(NEScount[3]), 
            .Z(n336));
    defparam i260_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i264_4_lut (.A(NEScount[4]), 
            .B(NEScount[7]), .C(NEScount[6]), .D(n336), .Z(n340));
    defparam i264_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+(B+((D)+!C))))" *) LUT4 i3_4_lut (.A(n287), .B(NEScount[10]), 
            .C(NESclk), .D(n340), .Z(continCLK_c));
    defparam i3_4_lut.INIT = "0x0010";
    FA2 count_21_23_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(NEScount[5]), 
        .D0(n210), .CI0(n210), .A1(GND_net), .B1(GND_net), .C1(NEScount[6]), 
        .D1(n533), .CI1(n533), .CO0(n533), .CO1(n212), .S0(n85[13]), 
        .S1(n85[14]));
    defparam count_21_23_add_4_15.INIT0 = "0xc33c";
    defparam count_21_23_add_4_15.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i18 (.D(n85[17]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[9]));
    defparam count_21_23__i18.REGSET = "RESET";
    defparam count_21_23__i18.SRMODE = "CE_OVER_LSR";
    FA2 count_21_23_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(NEScount[3]), 
        .D0(n208), .CI0(n208), .A1(GND_net), .B1(GND_net), .C1(NEScount[4]), 
        .D1(n530), .CI1(n530), .CO0(n530), .CO1(n210), .S0(n85[11]), 
        .S1(n85[12]));
    defparam count_21_23_add_4_13.INIT0 = "0xc33c";
    defparam count_21_23_add_4_13.INIT1 = "0xc33c";
    FA2 count_21_23_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n19), .D0(n198), 
        .CI0(n198), .A1(GND_net), .B1(GND_net), .C1(n18), .D1(n515), 
        .CI1(n515), .CO0(n515), .CO1(n200), .S0(n85[1]), .S1(n85[2]));
    defparam count_21_23_add_4_3.INIT0 = "0xc33c";
    defparam count_21_23_add_4_3.INIT1 = "0xc33c";
    FA2 count_21_23_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n20), .D1(n512), .CI1(n512), 
        .CO0(n512), .CO1(n198), .S1(n85[0]));
    defparam count_21_23_add_4_1.INIT0 = "0xc33c";
    defparam count_21_23_add_4_1.INIT1 = "0xc33c";
    FA2 count_21_23_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(NEScount[1]), 
        .D0(n206), .CI0(n206), .A1(GND_net), .B1(GND_net), .C1(NEScount[2]), 
        .D1(n527), .CI1(n527), .CO0(n527), .CO1(n208), .S0(n85[9]), 
        .S1(n85[10]));
    defparam count_21_23_add_4_11.INIT0 = "0xc33c";
    defparam count_21_23_add_4_11.INIT1 = "0xc33c";
    FA2 count_21_23_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(NESclk), 
        .D0(n204), .CI0(n204), .A1(GND_net), .B1(GND_net), .C1(NEScount[0]), 
        .D1(n524), .CI1(n524), .CO0(n524), .CO1(n206), .S0(n85[7]), 
        .S1(n85[8]));
    defparam count_21_23_add_4_9.INIT0 = "0xc33c";
    defparam count_21_23_add_4_9.INIT1 = "0xc33c";
    FA2 count_21_23_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(NEScount[11]), 
        .D0(n216), .CI0(n216), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n542), .CI1(n542), .CO0(n542), .S0(n85[19]));
    defparam count_21_23_add_4_21.INIT0 = "0xc33c";
    defparam count_21_23_add_4_21.INIT1 = "0xc33c";
    FA2 count_21_23_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(NEScount[9]), 
        .D0(n214), .CI0(n214), .A1(GND_net), .B1(GND_net), .C1(NEScount[10]), 
        .D1(n539), .CI1(n539), .CO0(n539), .CO1(n216), .S0(n85[17]), 
        .S1(n85[18]));
    defparam count_21_23_add_4_19.INIT0 = "0xc33c";
    defparam count_21_23_add_4_19.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i17 (.D(n85[16]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[8]));
    defparam count_21_23__i17.REGSET = "RESET";
    defparam count_21_23__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i16 (.D(n85[15]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[7]));
    defparam count_21_23__i16.REGSET = "RESET";
    defparam count_21_23__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i15 (.D(n85[14]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[6]));
    defparam count_21_23__i15.REGSET = "RESET";
    defparam count_21_23__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i14 (.D(n85[13]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[5]));
    defparam count_21_23__i14.REGSET = "RESET";
    defparam count_21_23__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i13 (.D(n85[12]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[4]));
    defparam count_21_23__i13.REGSET = "RESET";
    defparam count_21_23__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i12 (.D(n85[11]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[3]));
    defparam count_21_23__i12.REGSET = "RESET";
    defparam count_21_23__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i11 (.D(n85[10]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[2]));
    defparam count_21_23__i11.REGSET = "RESET";
    defparam count_21_23__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i10 (.D(n85[9]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[1]));
    defparam count_21_23__i10.REGSET = "RESET";
    defparam count_21_23__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i9 (.D(n85[8]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[0]));
    defparam count_21_23__i9.REGSET = "RESET";
    defparam count_21_23__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i8 (.D(n85[7]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NESclk));
    defparam count_21_23__i8.REGSET = "RESET";
    defparam count_21_23__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i7 (.D(n85[6]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n14));
    defparam count_21_23__i7.REGSET = "RESET";
    defparam count_21_23__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i6 (.D(n85[5]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n15));
    defparam count_21_23__i6.REGSET = "RESET";
    defparam count_21_23__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i5 (.D(n85[4]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n16_adj_37));
    defparam count_21_23__i5.REGSET = "RESET";
    defparam count_21_23__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i4 (.D(n85[3]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n17_adj_36));
    defparam count_21_23__i4.REGSET = "RESET";
    defparam count_21_23__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i3 (.D(n85[2]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n18));
    defparam count_21_23__i3.REGSET = "RESET";
    defparam count_21_23__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i2 (.D(n85[1]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n19));
    defparam count_21_23__i2.REGSET = "RESET";
    defparam count_21_23__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i1 (.D(n85[0]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(n20));
    defparam count_21_23__i1.REGSET = "RESET";
    defparam count_21_23__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i20 (.D(n85[19]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[11]));
    defparam count_21_23__i20.REGSET = "RESET";
    defparam count_21_23__i20.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_c));
    (* syn_use_carry_chain=1 *) FD1P3XZ count_21_23__i19 (.D(n85[18]), .SP(VCC_net), 
            .CK(CLK), .SR(GND_net_c), .Q(NEScount[10]));
    defparam count_21_23__i19.REGSET = "RESET";
    defparam count_21_23__i19.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule
